/*header*/
.header {
	padding: 110px 0;
	background: url(../images/bg-portfolio.jpg) center 0 no-repeat;
	background-size:  cover;
	@media (max-width: 767px) {
		padding: 65px;
	}
	@media (max-width: 575px) {
		padding: 45px 0;
	}
}