.disclaimer {
	margin: 50px auto;
	background: url(../img/disclaimer.png) center no-repeat;
	padding: 50px;
	font-size: 16.4px;
	line-height: 18px;
	text-align: justify;
	@media (max-width: 1199px) {
		padding: 50px 0;
	}
	@media (max-width: 991px) {
		margin: 0 auto;
	}
	@media (max-width: 575px) {
		padding: 50px 15px;
		font-size: 14px;
		line-height: 16px;
	}
}