/*section EXAMPLE OF TRADE ALLOCATION*/

.example_text {
	p {
		font-family: Crimson Text;
		font-size: 20px;
		@media (max-width: 1330px) {
			font-size: 17.5px;
		}
		@media (max-width: 991px) {
			font-size: 19px;
		}
		@media (max-width: 767px) {
			font-size: 17px;
			margin-top: 10px;
		}	
	}
	ol {
		list-style-type: decimal;
		font-family: Crimson Text;
		font-size: 20px;
		color: #8f9092;
		margin-left: 20px;
		margin-top: 10px;
		margin-bottom: 30px;
		@media (max-width: 1330px) {
			/*width: 460px;*/
			font-size: 17.5px;
		}	
		@media (max-width: 991px) {
			width: auto;
			font-size: 19px;
		}
		@media (max-width: 767px) {
			font-size: 17px;
		}
		@media (max-width: 575px) {
			margin-bottom: 17px;
		}
		li {
			line-height: 27px;
			@media (max-width: 991px) {
				line-height: 24px;
				margin-bottom: 5px;
			}
			@media (max-width: 767px) {
				margin-bottom: 0;
			}
		}
	}
}
.post_example_text {
	text-align: justify;
	vertical-align: bottom;
	padding-right: 15px;
	@media (min-width: 768px) and (max-width: 991px) {
		width: 690px;
		margin-left: -300px;
	}
	p {
		margin-bottom: 5px;
	}
}