.how_h1_desc {
	display: block;
	@media (max-width: 380px) {
		display: none;
	}
}
.how_h1_mob {
	display: none;
	@media (max-width: 380px) {
		width: 155px;
		display: block;
		color: $color_dblue;
		@include font(Crimson Text,33px,400,7px);
		margin: -14px auto;
		line-height: 45px;
		text-align: center;

	}
}
