
.wr-history {
	padding-top: 40px;
	h2 {
		margin: 35px 0;
	}
}

.history_text_up {
	@include font(Crimson Text,21px,400,0px);
	line-height: 25px;
	text-align: center;
	padding: 30px;
	background: #fff;
	@media (max-width: 767px) {
		padding: 20px;
		font-size: 19px;
		line-height: 23px;
	}
	@media (max-width: 479px) {
		padding: 15px;
		font-size: 17px;
		line-height: 20px;
	}
}

.o-sans {
	margin-bottom: 5px;
}

.history_text {
	max-width: 520px;
	margin: 20px auto;
}

.history_text__chart {
	color: $color_dblue;
}

.history_dyn1, .history_dyn2 {
	max-width: 80%;
	height: 450px;
	margin: 20px auto;
	@media (max-width: 991px) {
		max-width: 100%;
	}
	@media (max-width: 767px) {
		height: 350px;
	}
	@media (max-width: 575px) {
		height: 330px;
	}
	@media (max-width: 425px) {
		height: 265px;
	}
	@media (max-width: 360px) {
		height: 240px;
	}
}

.mt_15 {margin-top: 15px;}

.label_history_table {
	padding: 10px 15px;
	font-size: 13px;
	cursor: pointer;
	border-radius: 3px;
	margin: 10px 0;	
	@media (max-width: 767px) {
		padding: 8px 12px;
		font-size: 12px;
	}
}

#history_t1 {
	display: none;
	&:checked ~ .history_table {
		display: block;
		opacity: 1;
		height: 1545px;		
		transition: all .5s linear;
		@media (max-width: 1199px) {
			height: 1430px;	
		}
		@media (max-width: 767px) {
			display: none;
		}
	}
}

#history_t2 {
	display: none;
	&:checked ~ .history_table {
		display: block;
		opacity: 1;
		height: 595px;
		transition: all .5s linear;
		@media (max-width: 1199px) {
			height: 560px;	
		}
		@media (max-width: 767px) {
			display: none;
		}
	}
}

.tr_l {	
	background: rgba(95,95,95,.8);
	td {
		color: #edc047;
	}
}
.tr_d {
	background: rgba(50,50,50,.8);
	td {
		color: #f1c232;
	}
}

.history_table {
	display: block;
	opacity: 0;
	height: 0;
	transition: all .5s linear;
	overflow-y: hidden;
	font-size: 16px;
	@media (max-width: 1199px) {
		font-size: 14px;
	}
	thead {
		tr {
			th {
				padding: 4px 5px;
				text-align: center;
				vertical-align: middle;
				background: $color_dblue;
				color: #fff;
				border-right: 1px solid #fff;
				border-left: 1px solid #fff;
			}
		}
	}
	tbody {
		tr {
			td {
				text-align: center;
				vertical-align: middle;
				padding: 4px 5px;
				border: 1px solid #aaa;
			}
		}
	}
}

.history_links_wraper {
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
	.btn_gold {
		margin: 15px 25px;
	}
}

/*=== Popup ===*/
.popup {
	background: #fff;
	width: 95%;
	height: 90%;
	padding: 20px 35px 40px;
	position: relative;
	display: none;
	margin-top: 3%;
}

.popup .b-close {
	position: absolute;
	top: 0px;
	right: 4px;
	font-size: 30px;
	line-height: 20px;
	color: $color_dblue;
	text-decoration: none;
	font-family: Open Sans;
}

.jsPopupNomob {
	width: 280px;
	height: 130px;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	.b-close {
		font-size: 25px;
	}

}