.wr-invest_wisely {
	padding: 30px 0 0;
	.o-sans {
		text-align: justify;
	} 
	h3 {
		font-weight: bold;
		font-size: 26px;
		line-height: 30px;
		margin-top: 30px;
		@media (max-width: 767px) {
			font-size: 22px;
			line-height: 26px;
		}
		@media (max-width: 575px) {
			font-size: 18px;
			line-height: 24px;
			margin-top: 20px;
		}
	}
}

.invest_pic {
	margin: 30px 0;
	@media (max-width: 767px) {
		margin: 15px 0;
	}
	@media (max-width: 575px) {
		margin: 10px 0;
	}
}

.invest_wisely__link {
	color: $color_dblue;
	font-style: italic;
	font-weight: bold;
	&:hover {
		text-shadow: 1px -1px $color_gold;
	}
}