/*OUR PERFORMANCE*/
.wr-our_performance {
	padding: 50px 0 20px;

}
.performance {
	margin: 0 5px;
	p {
		text-align: justify;
		@media (max-width: 767px) {
			text-align: center;
		}
	}
	.chartdiv_dyn, .chartdiv_bal {
		height: 420px;
		margin: 10px 0 30px;
		@media (min-width: 768px) and (max-width: 991px) {
			height: 370px;
		}
		@media (max-width: 575px) {
			height: 370px;
		}
		@media (max-width: 420px) {
			height: 333px;
		}
	}
}

.after_performance {
	margin-top: 15px;
	p {
		text-align: center;
		margin-bottom: 10px;
		a {
			color: $color_gold;
		}
	}
}