
/*=== Popup ===*/
.popup {
	background: #fff;
	width: 95%;
	height: 90%;
	padding: 20px 35px 40px;
	position: relative;
	display: none;
	margin-top: 3%;
	@media (max-width: 1199px) {
		padding: 20px 20px 45px;
	}
	h3 {
		@include font(Crimson Text,30px,400,0px);
		color: $color_dblue;
		margin-bottom: 20px;
	}	
	.nav-tabs {
		.nav-link {
			color: $color_dblue;
			border-color: #e9e9e9 #e9e9e9 #fff;
			background: $color_gold;
			border-top-left-radius: .5rem;
			border-top-right-radius: .5rem;
			&:hover {
				border-color: #777 #777 #fff;
			}
		}
		.nav-link.active {
			color: $color_gold;
			border-color: #333 #333 #fff;
			background: $color_dblue;
		}
		.hint {
				width: 170px;
				opacity: 0;
				position: absolute;
			    top: -21px;
			    transition: all .5s linear;
			}
		.disabled {
			background: #999;
			position: relative;
			
			&:hover {
				border-color: #e9e9e9 #e9e9e9 #fff;
			}
			&:hover .hint {
				opacity: 1;
				transition: all .5s linear;
			}
		}
	}	
	/*overflow for tables*/
	.tab-content {
		height: 91%;
		.active {
			height: 100%;
			/*&.second_tab {
				height: auto;
			}*/
		}
	}		
}

.popup .b-close {
	position: absolute;
	top: 0px;
	right: 4px;
	font-size: 30px;
	line-height: 20px;
	color: $color_dblue;
	text-decoration: none;
	font-family: Open Sans;
}

.jsPopupNomob {
	width: 280px;
	height: 130px;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	.b-close {
		font-size: 25px;
	}

}
/*============================================*/
/*=====================Charts=====================*/
.chartdiv_dyn, .chartdiv_bal {
	height: 90%;
}
/*==================== TABLES ==================*/
.wr-for-table {
	background: #158 url(../img/logo.png) center no-repeat;
	height: 100%;
	overflow: auto;
}
.tr_l {	
	background: rgba(95,95,95,.8);
	td {
		color: #edc047;
	}
}
.tr_d {
	background: rgba(50,50,50,.8);
	td {
		color: #f1c232;
	}
}
table.table {
	margin-bottom: 0;
	font-size: 16px;
	@media (max-width: 1199px) {
		font-size: 14px;
	}
	thead {
		tr {
			th {
				padding: 4px 5px;
				text-align: center;
				vertical-align: middle;
				background: $color_dblue;
				color: #fff;
				border-right: 1px solid #fff;
				border-left: 1px solid #fff;
			}
		}
	}
	tbody {
		tr {
			td {
				/*font-family: Crimson Text;
				font-size: 16px;*/
				/*color: $color_dblue;*/
				text-align: center;
				vertical-align: middle;
				padding: 4px 5px;
				border: 1px solid #aaa;
			}
		}
	}
}
#profit1,
#profit2,
#profit11,
#profit22 {
	.wr-for-table {
		background: #fff url(../img/logo.png) center 60% no-repeat;
		width: 52%;
		display: inline-block;
	}
}
#profit11,
#profit22 {
	.wr-for-table {
		background: #fff url(../img/logo.png) center 33% no-repeat;
		-webkit-background-size: 200px;
		background-size: 200px;
	}
}

.wr-for-graph {
	/*padding: 0 10px 10px;*/
	width: 44%;
	display: inline-block;
	margin-left: 2%;
	height: 100%;
	vertical-align: top;	
	p {
		font-size: 22px;
		text-align: center;
		margin: 10px 0;
	}
	ul.graph_legend {
		text-align: center;
		li {
			display: inline-block;
			margin: 10px 10px 0px;
			font-size: 18px;
			span {
				display: inline-block;
				width: 15px;
				height: 15px;
				border-radius: 50%;
				margin-right: 10px;				
			}
			&:first-child>span {
				background: #bf9000;
			}
			&:nth-child(2)>span {
				background: #073763;
			}
			&:nth-child(3)>span {
				background: #ff0000;
			}
		}
	}
}
.benefit {
	margin-bottom: 10px;
    text-align: center;
    border-radius: 10px 10px 75px 75px;
    padding: 10px 0 35px;
	li {
		display: inline-block;
		color: $color_dblue;
		font-size: 18px;
		text-align: center;
		span {
			border-radius: 4px;
			margin-top: 3px;
			padding: 7px 15px;
			display: block;
			background: $color_dblue;
			color: #fff;
			font-size: 20px;
			font-weight: 600;
		}
	}
	li:nth-child(2) {
		position: relative;
		top: 20px;
		margin: 0 20px;
		span {
			color: $color_gold;
			font-size: 27px;
		}
	}
}
.chartdiv_dyn_profit_1,
.chartdiv_dyn_profit_2,
.chartdiv_bal_profit_1,
.chartdiv_bal_profit_2 {
	height: 60%;
	/*bottom: 18%;*/
	position: unset !important;
}
/*==================== TABLES END ==================*/

/*hidden tab - only for registered*/
.statement_report {
	padding: 40px;
	font-size: 26px;
	line-height: 35px;
	text-align: center;
	@media (max-width: 1199px) {
		padding: 40px 30px;
		font-size: 24px;
	}
	p {
		background: $color_dblue;
		color: #fff;
		width: 870px;
		margin: 20px auto;
		padding: 30px 45px;
		@media (max-width: 1199px) {
			width: 807px;
		}
	}
	a {
		margin: 40px;
		text-transform: capitalize;
	}
}

