/*section with text*/
.wr-portfolio_text {
	padding-top: 40px;
	h2 {
		margin: 35px 0;
	}
}
.port_text_1 {
	@include font(Crimson Text,21px,400,0px);
	line-height: 25px;
	text-align: center;
	padding: 30px;
	background: #fff;
	margin-bottom: 40px;
	@media (max-width: 767px) {
		padding: 20px;
		font-size: 19px;
		line-height: 23px;
	}
	@media (max-width: 479px) {
		padding: 15px;
		font-size: 17px;
		line-height: 20px;
	}

}
.portfolio_text {
	padding: 30px;
	line-height: 23px;
	background: #fff;
	text-align: justify;
	@media (max-width: 991px) {
		padding: 24px;
	}
	@media (max-width: 767px) {
		padding: 20px;
		margin-bottom: 35px;
	    height: auto;
	}
}
.center {
	border-collapse: separate;
	border-spacing: 5px;
	text-align: center;
	color: #8f9092;
	margin: 10px auto 0;
	@media (max-width: 340px) {
		margin: 5px -10px;
	}
	.middle {vertical-align: middle;}
	.border_bot {
		border-bottom: 1px solid #8f9092;
		margin-left: 5px;
	}
	sub {
		font-size: 12px;
		@media (max-width: 991px) {
			font-size: 10px;
		}
		@media (max-width: 767px) {
			font-size: 12px;
			letter-spacing: 0;
		}
		@media (max-width: 575px) {
			font-size: 10px;
			letter-spacing: -0.4px;
		}
	}
}
