.testimonials {
	background: #fff;
	padding: 30px 30px 5px;
	@media (max-width: 767px) {
		padding: 20px 15px 5px;
	}
	@media (max-width: 575px) {
		padding: 15px 10px 1px;
	}
}
.testimonials_main {
	padding: 0 10px 10px;
	background: #fff;
	margin-bottom: 10px;
	.item {
		padding: 0 10px;
		@media (max-width: 767px) {
			font-size: 15px;
			line-height: 22px;
		}
		@media (max-width: 575px) {
			font-size: 13px;
			line-height: 20px;
		}
	}
	.cite {
		@media (max-width: 575px) {
			font-size: 15px;
			line-height: 16px;
			margin-bottom: 15px;
		}
	}
}
