.wr-what_is_ctf {
	padding: 60px 0 20px;
	@media (max-width: 991px) {
		padding-top: 50px;
	}
	@media (max-width: 767px) {
		padding-top: 40px;
	}
}
.what_is_text {
	background: #fff;
	padding: 25px;
	text-align: justify;
	margin-bottom: 20px;
}
.coins {
	width: 100%;
	margin-bottom: 20px;
}

.slider_what_is {
	@media (max-width: 991px) {
		padding: 35px 20px 30px;
	}
	@media (max-width:575px) {
		padding: 25px 20px;
	}
	.item {
		@media (max-width: 991px) {
			padding: 0 20px;
		}
		@media (max-width:575px) {
			font-size: 15px;
			line-height: 22px;
			padding: 0 5px;
		}
	}	
}

.dots_what_is {
	@media (max-width:575px) {
		margin: 15px 0 8px;
	}
}