@import 'global/_reset.scss';
@import 'global/_variables.scss';
@import 'global/_navigation.scss';
@import 'global/_header.scss';

@import 'blocks/our_contacts.scss';
@import 'blocks/testimonials_carousel.scss';
@import 'blocks/testimonials.scss';
@import 'blocks/write_us.scss';
@import 'blocks/contacts_popup.scss';
@import 'blocks/disclaimer.scss';


.header {
	background: #070915 url(../img/bg-contacts.jpg) center 0 no-repeat;
}

.big_link {
	@media (max-width: 575px) {
		font-size: 25px;
    	padding: 20px 20px;
	}
    
}