 <!DOCTYPE html>
 <html lang="en">
 	<head>
 		<!-- META -->
 		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, inicial-scale=1.0">
 		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->

 		<!-- FAVICON -->
 		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

 		<!-- SEO -->
 		<meta name="Description" content="We have accounts in all social networks: telegramm, facebook, instagram, youtube">
 		<meta name="Rating" content="">    
 		<meta name="Author" content="">
 		<meta name="Robots" content="index,follow">

 		<!-- CONFIG -->
 		<meta name="format-detection" content="telephone=no">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">

 		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134605534-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-134605534-1');
		</script>

 		<!-- FONTS -->
 		<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->

 		<!-- Стили -->
 		<link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
 		<link rel="stylesheet" href="libs/slick/slick.css">
 		<link rel="stylesheet" href="css/contacts.min.css">

 		<title>Contacts of CopyTradingForex</title>
 	</head>

 	<body>
 		<!-- [if lt IE 10]>
 			<p class="browsehappy">You're using <strong>OLD version of Internet Explorer</strong>. Please, <a href="http://browsehappy.com/>update your browser</a> to see more opportunities in browser!</p>
 		<![endif]-->

 		<!-- Preloader -->
 		<div class="preloader"></div>

 		<div class="app">

 			<!-- rightside navigation fixed -->
 			
			<nav class="navbar navbar-expand-xl nav_aside">
				<a class="navbar-brand logo_mob" href="index.html"><img class="img-fluid" src="img/logo_small.png" alt="logo"></a>
				<a class="navbar-brand logo_desk" href="index.html"><img class="img-fluid" src="img/logo_mid.png" alt="logo"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarNav">
					<div class="navbar-nav">
						<a class="nav-item nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link" href="portfolio.html">Portfolio</a>
						<a class="nav-item nav-link" href="start-now.html">Start now</a>
						<a class="nav-item nav-link" href="how-it-works.html">How it works</a>
						<a class="nav-item nav-link" href="master-traders.html">Master traders</a>
						<a class="nav-item active nav-link" href="contacts.html">Contacts</a>
					</div>
				</div>
			</nav>	
			
			<!-- header -->
			<header class="header wr-mr250">
				<h1 class="page_title">CONTACTS</h1>
			</header>

			<!-- section our contacts -->
			<section class="wr-our_contacts wr-mr250">
 				<div class="container">
 					<div class="row">
 						<div class="order-2 order-md-1 col-md-6 col-lg-7">
 							<img class="img-fluid" src="img/follow_us.jpg" alt="follow us">
 						</div>
 						<div class="order-1 order-md-2 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-5">
 							<div class="follow_us">
 								<h2>Follow us</h2>
 								<ul class="social_contact o-sans">
 									<li>
 										<a class="social_contact_fb" href="https://www.facebook.com/CopyTradingForexcom/" target="blank">
 											<img class="img-fluid" src="img/svg/Facebook-reversed.svg" alt="">
 										</a>
 									</li>
 									<li>
 										<a class="social_contact_yt" href="https://www.youtube.com/channel/UCoxLJbMote284Owk_kcHuBQ" target="blank">
 											<img class="img-fluid" src="img/svg/YouTube_Logo.svg" alt="">
 										</a>
 									</li>
 								</ul>
 								<ul class="social_contact o-sans">
 									<li>
 										<a class="social_contact_inst" href="https://www.instagram.com/unique_copy_trading_forex/" target="blank">
 											<img class="img-fluid" src="img/svg/Instagram.svg" alt="">
 											<img class="img-fluid" src="img/svg/Instagram_logo.svg" alt="">
 										</a>
 									</li>
 									<li>
 										<a class="social_contact_telegram" href="https://t.me/CopyTradingForex" target="blank">
 											<img class="img-fluid" src="img/svg/Telegram_logo.svg" alt="">
 											<img class="img-fluid" src="img/svg/Telegram_text_logo.svg" alt="">
 										</a>
 									</li>
 								</ul>
 							</div>
 							<div class="phone_email">
 								<p class="o-sans non_text_indent">
 									E-mail address: 									
 								</p>
								<a href="mailto:contact@copytradingforex.com">contact@copytradingforex.com</a>
								<a href="mailto:registration@copytradingforex.com">registration@copytradingforex.com</a>
 								<p class="o-sans non_text_indent p_grey">
 									For a quick activation and confirmation of your Managed account
 								</p>
 							</div>
 						</div>
 					</div>
 				</div>
 			</section>

 			<!-- section text + write us -->
			<section class="wr-write_us wr-mr250">
 				<div class="container">
 					<div class="row">
 						<!-- <div class="col-md-12 col-lg-6">
 							<div id="testimons" class="testimonials">
 								<h2>Testimonials</h2>
 								<div class="testimonials_main testimonials_carousel jsTestimonials">
									<div class="item">
										<p>
											They are great! I do not worry about my money. Even if it is in minus for a couple of months, I know that these guys will make money inspite of anything.
										</p>
										<div class="dots">
											<span></span><span></span><span></span>
										</div>
										<p class="cite">Jan Kirbuzovski</p>
									</div>
									<div class="item">
										<p>
											For now this is the best copy trading system as for me. Nobody controls my capital, but me.
										</p>
										<div class="dots">
											<span></span><span></span><span></span>
										</div>
										<p class="cite">Mr. Thomas Defries</p>
									</div>
									<div class="item">
										<p>
											The best way to invest in forex without knowledge! Thank you guys for the opportunity
										</p>
										<div class="dots">
											<span></span><span></span><span></span>
										</div>
										<p class="cite">Chris Lake, <br>Newport, United Kingdom</p>
									</div>
									<div class="item">
										<p>
											It really works! Finally long-term profitable copy trade service. You are amazing! 
										</p>
										<div class="dots">
											<span></span><span></span><span></span>
										</div>
										<p class="cite">Sergiy Tkachenko,<br>Kyiv, Ukraine</p>
									</div>
									<div class="item">
										<p>
											This is my true story! I invested 1400 usd in april 2018. And i have already taken out 900 usd net profit while i still have more than 2000 usd in my managed account (february 2019). 
										</p>
										<div class="dots">
											<span></span><span></span><span></span>
										</div>
										<p class="cite">Nataly Stankova,<br>Moscow, Russia</p>
									</div>
									<div class="item">
										<p>
											Never thought that copy trading could be so helpful because of so many scammers online not until I met these Master Traders who changed my my opinion about forex trading. I invested $1200 and got $2400 all within 4 months with Dynamic Portfolio. They are experts and also proven to be trustworthy and reliable.
										</p>
										<div class="dots">
											<span></span><span></span><span></span>
										</div>
										<p class="cite">M.K.,<br>Sofia, Bulgaria</p>
									</div>
									<div class="item">
										<p>
											I've spent past 4 years learning about trading and forex  and I'm still not a successful trader. I use Balanced Portfolio and this gives me the opportunity not only to make money, but also to follow a professional how she trades. Thank you for this chance! 
										</p>
										<div class="dots">
											<span></span><span></span><span></span>
										</div>
										<p class="cite">Mark Solomon,<br>South Africa</p>
									</div>
									<div class="item">
										<p>
											I sincerely regret only two things: why I found you so late and why I did not invest $ 10,000 right away.
										</p>
										<div class="dots">
											<span></span><span></span><span></span>
										</div>
										<p class="cite">Haruo,<br>Kuala Lumpur, Malaysia</p>
									</div>
								</div>
 							</div>
 						</div> -->
 						<div class="col-md-8 offset-md-2">    <!-- col-lg-6 offset-lg-0 -->
 							<form action="write_us.php" class="write_us js-form-validate o-sans non_text_indent" method="POST">
 								<h2>WRITE US</h2>
 								<input type="text" name="name" placeholder="Your name" required="">
 								<input type="email" name="email" placeholder="Your e-mail" required="">
 								<input type="text" name="subject" placeholder="Subject" required="">
 								<textarea name="message" placeholder="Message" required=""></textarea>
 								<input type="submit" value="Send a message"	class="btn_gold jsSayThanks">
 							</form>
 						</div>
 						<div class="col-md-12">
 							<a href="javascript:void(Tawk_API.toggle())" class="big_link">CopyTradingForex.com - the best answer for your question</a>
 							<p class="disclaimer">
								Risk Warning: The Investor confirms being aware of the speculative nature and the high risks associated with margin trading, mechanisms, characteristics and high degree of volatility of the currency and derivatives market. The Investor understands and agrees that margin trading might result in total loss of funds deposited as a margin and that consequently, only “risk” funds should be used in such trading. Anyone who does not have the extra capital that may be subject to a total loss should not trade on margin. No “safe” trading system has ever been devised, and no one can guarantee profits or freedom from loss. The Investor hereby certifies to have understood any and all risks related to the present managed account service at copytradingforex.com. Without any exceptions Master Traders assume no obligations with regard to any guarantee or promise of future profitable performance.
							</p>
 						</div>
 					</div>
 				</div>
 			</section>			

 			<section class="footer_navigation wr-mr250">
 				<div class="container">
 					<div class="row">
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>About us</h4>
 								<ul>
 									<li><a href="index.html#why_ctf">Why copytradingforex.com?</a></li>
 									<li><a href="index.html#perfomance_results">Our performance results</a></li>
 									<li><a href="master-traders.html">Master Traders</a></li>
 								</ul>
 							</nav>
 						</div>
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>Our Service</h4>
 								<ul>
 									<li><a href="portfolio.html#portfolio_description">Dynamic Portfolio</a></li>
 									<li><a href="portfolio.html#portfolio_description">Balanced Portfolio</a></li>
 									<li><a href="https://www.dukascopy.com/swiss/english/forex/FX-Interbank-Account/?headerBar&ibref=13893" target="blank">Open Managed Account</a></li>
 									<li class="md_hidden"><a href="dynamic-portfolio-statement.html" target="blank">Dynamic Portfolio Statement</a></li>
 									<li class="md_hidden"><a href="balanced-portfolio-statement.html" target="blank">Balanced Portfolio Statement</a></li>
 								</ul>
 							</nav>
 						</div>
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>For Investors</h4>
 								<ul>
 									<li><a href="how-it-works.html#what_ctf">What is Fund Management?</a></li>
 									<li><a href="how-it-works.html#allocation">Example of trade allocation</a></li>
 									<li><a href="start-now.html">How to start?</a></li>
 									<li><a href="start-now.html#step2">Equity Stop Loss Level function</a></li>
 									<li><a href="how-it-works.html#remuner">Remuneration</a></li>
 									<!-- <li><a href="contacts.html#testimons">Testimonials</a></li> -->
 								</ul>
 							</nav>
 						</div>
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>Contact us</h4>
 								<ul>
 									<li><a class="footer_email__link" href="mailto:contact@copytradingforex.com">contact@copytradingforex.com</a></li>
 									<li><a href="https://www.facebook.com/CopyTradingForexcom" target="blank">facebook</a></li>
 									<li><a href="https://www.youtube.com/channel/UCoxLJbMote284Owk_kcHuBQ" target="blank">youtube</a></li>
 									<li><a href="https://www.instagram.com/unique_copy_trading_forex/" target="blank">instagram</a></li>
 									<li><a href="https://t.me/CopyTradingForex" target="blank">telegram channel</a></li>
 								</ul>
 							</nav>
 						</div>
 					</div>
 				</div>
 			</section>

 			<footer class="footer wr-mr250">
	 			<small>© 2020 WebKnight-developer. All Rights Reserved.</small>
	 		</footer>

 		</div> 		

 		<!-- Plagins -->
 		<div class="popup jsPopupThanks">
 			<div class="fog">
 				<h3>Thank's for writing us!</h3>
 				<p class="o-sans">You'll receive the answer as soon as possible!</p>
 			</div> 			
			<a href="#" class="b-close">x</a>
 		</div>

 		<!-- JS -->
 		<script src="libs/jquery/jquery-1.12.4.min.js"></script>
 		<script src="libs/bootstrap/bootstrap.min.js"></script>
 		<script src="libs/slick/slick.min.js"></script>
 		<script src="libs/jquery/jquery.bpopup.min.js"></script>
 		
		<!--Start of Tawk.to Script-->
		<script type="text/javascript">
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/5c2d32e582491369baa03ed3/default';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
		})();
		</script>
		<!--End of Tawk.to Script-->

 		<script src="js/contacts.js"></script>

 	</body>
 </html>
 