<!DOCTYPE html>
 <html lang="en">
 	<head>
 		<!-- META -->
 		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, inicial-scale=1.0">
 		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->

 		<!-- FAVICON -->
 		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

 		<!-- SEO -->
 		<meta name="Description" content="Here you can see our trading history of our Dynamic portfolio">
 		<meta name='keywords' content="trading history,trading strategies,portfolio statement">
 		<meta name="Rating" content="">    
 		<meta name="Author" content="">
 		<meta name="Robots" content="index,follow">

 		<!-- CONFIG -->
 		<meta name="format-detection" content="telephone=no">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">

 		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134605534-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-134605534-1');
		</script>

 		<!-- Стили -->
 		<link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
 		<!-- <link rel="stylesheet" href="libs/slick/slick.css"> -->
 		<link rel="stylesheet" href="css/history.min.css">

 		<title>History of our Dynamic Portfolio</title>

 	</head>

 	<body>

 		<!-- [if lt IE 10]
 			<p class="browsehappy">You're using <strong>OLD version of Internet Explorer</strong>. Please, <a href="http://browsehappy.com/>update your browser</a> to see more opportunities in browser!</p>
 		<![endif]-->

 		<!-- Preloader -->
 		<div class="preloader"></div>
 		<div class="app">

 			<!-- rightside navigation fixed --> 			
			<nav class="navbar navbar-expand-xl nav_aside">
				<a class="navbar-brand logo_mob" href="index.html"><img class="img-fluid" src="img/logo_small.png" alt="logo"></a>
				<a class="navbar-brand logo_desk" href="index.html"><img class="img-fluid" src="img/logo_mid.png" alt="logo"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarNav">
					<div class="navbar-nav">
						<a class="nav-item nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link" href="portfolio.html">Portfolio</a>
						<a class="nav-item nav-link" href="start-now.html">Start now</a>
						<a class="nav-item nav-link" href="how-it-works.html">How it works</a>
						<a class="nav-item nav-link" href="master-traders.html">Master traders</a>
						<a class="nav-item nav-link" href="contacts.html">Contacts</a>
						<a class="nav-item active nav-link" href="history.html">Our History</a>
					</div>
				</div>
			</nav>	
			
			<!-- header -->
			<header class="header wr-mr250">
				<h1>OUR HISTORY</h1>
			</header>

			<!-- section with text -->
			<section class="wr-history wr-mr250">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="history_text_up">Our history starts in 2016, when we opened our own trading account specifically to demonstrate the reliability and profitability of the developed trading strategy. It took more than one year of continuous forex trading to build a successful strategy. Daily market research, analysis of our results, both successful as well as unprofitable, trading rules correction allowed us to start trading using our self-made strategy in December, 2016.
							</p>
						</div> 

						<div class="col-md-12">
							<h2>Our performance results for Trading Account №1</h2>
							<p class="o-sans ta_c">Our first account was opened in December 7, 2016 and trading on this account has been lasting until June 25, 2018. Annualized performance of our trading account during this period is represented on the chart below. 
							</p>
							<!-- div for chart -->
							<div class="history_dyn1"></div>
							<p class="history_text o-sans ta_c history_text__chart">The historic data is no guarantee or promise for future performance. The above-mentioned performance results are net results.</p>
							<p class="o-sans">Also, the results of trading on this account are presented in the table.</p>

							<label for="history_t1" class="label_history_table btn_dblue">TABLE 1. Performance results for Trading Account №1</label>
							<input id="history_t1" type="checkbox">

							<table class="history_table">
								<thead class="fixed">
									<tr>
										<th>Month/ Year</th>
										<th>Start Date</th>
										<th>Finish Date</th>
										<th>Start Balance, USD</th>
										<th>Finish Balance, USD</th>
										<th>Profit, USD</th>
										<th>Withdrawal, USD</th>
										<th>Deposit, USD</th>
										<th>Profit, %</th>
										<th>Monthly Result, %</th>
										<th>General Result, %</th>
									</tr>
								</thead>
								<tbody>
									<tr class="tr_d">
										<td rowspan="4">06/2018</td>
										<td>25.6</td>
										<td>25.6</td>
										<td>2265,13</td>
										<td>0</td>
										<td>144,78</td>
										<td>2508,91</td>
										<td>99,00</td>
										<td>6,12</td>
										<td rowspan="4">19,55</td>
										<td rowspan="4">321</td>
									</tr>
									
									<tr class="tr_d">
										<td>12.6</td>
										<td>24.6</td>
										<td>2300,11</td>
										<td>2265,13</td>
										<td>-34,98</td>
										<td></td>
										<td></td>
										<td>-1,52</td>
									</tr>
									<tr class="tr_d">
										<td>11.6</td>
										<td>11.6</td>
										<td>2059,12</td>
										<td>2300,11</td>
										<td>357,02</td>
										<td>116,03</td>
										<td></td>
										<td>17,34</td>
									</tr>
									<tr class="tr_d">
										<td>1.6</td>
										<td>10.6</td>
										<td>2109,6</td>
										<td>2059,12</td>
										<td>-50,48</td>
										<td></td>
										<td></td>
										<td>-2,39</td>
									</tr>
									<tr class="tr_l">
										<td rowspan="4">05/2018</td>
										<td>31.5</td>
										<td>31.5</td>
										<td>2355,89</td>
										<td>2109,6</td>
										<td>-39,37</td>
										<td>206,92</td>
										<td></td>
										<td>-1,67</td>
										<td rowspan="4">51,17</td>
										<td rowspan="4">302</td>
									</tr>
									<tr class="tr_l">
										<td>3.5</td>
										<td>30.5</td>
										<td>1840,87</td>
										<td>2355,89</td>
										<td>515,02</td>
										<td></td>
										<td></td>
										<td>27,98</td>
									</tr>
									<tr class="tr_l">
										<td>2.5</td>
										<td>2.5</td>
										<td>1989,35</td>
										<td>1840,87</td>
										<td>69,33</td>
										<td>217,81</td>
										<td></td>
										<td>3,49</td>
									</tr>
									<tr class="tr_l">
										<td>1.5</td>
										<td>1.5</td>
										<td>1638,9</td>
										<td>1989,35</td>
										<td>350,45</td>
										<td></td>
										<td></td>
										<td>21,38</td>
									</tr>
									<tr class="tr_d">
										<td rowspan="13">04/2018</td>
										<td>24.4</td>
										<td>30.4</td>
										<td>1618,5</td>
										<td>1638,9</td>
										<td>20,40</td>
										<td></td>
										<td></td>
										<td>1,26</td>
										<td rowspan="13">50,71</td>
										<td rowspan="13">251</td>
									</tr>
									<tr class="tr_d">							
										<td>23.4</td>
										<td>23.4</td>
										<td>1864,07</td>
										<td>1618,5</td>
										<td>-49,40</td>
										<td>196,17</td>
										<td></td>
										<td>-2,65</td>
									</tr>
									<tr class="tr_d">							
										<td>20.4</td>
										<td>22.4</td>
										<td>1457,42</td>
										<td>1864,07</td>
										<td>406,65</td>
										<td></td>
										<td></td>
										<td>27,90</td>
									</tr>
									<tr class="tr_d">							
										<td>19.4</td>
										<td>19.4</td>
										<td>1688,97</td>
										<td>1457,42</td>
										<td>-125,14</td>
										<td>106,41</td>
										<td></td>
										<td>-7,41</td>
									</tr>
									<tr class="tr_d">							
										<td>18.4</td>
										<td>18.4</td>
										<td>1401,15</td>
										<td>1688,97</td>
										<td>388,51</td>
										<td>100,69</td>
										<td></td>
										<td>27,73</td>
									</tr>
									<tr class="tr_d">							
										<td>12.4</td>
										<td>17.4</td>
										<td>1223,8</td>
										<td>1401,15</td>
										<td>177,35</td>
										<td></td>
										<td></td>
										<td>14,49</td>
									</tr>
									<tr class="tr_d">							
										<td>11.4</td>
										<td>11.4</td>
										<td>1299,28</td>
										<td>1223,8</td>
										<td>-75,48</td>
										<td>258,37</td>
										<td>258,37</td>
										<td>-4,85</td>
									</tr>
									<tr class="tr_d">							
										<td>10.4</td>
										<td>10.4</td>
										<td>559,48</td>
										<td>1299,28</td>
										<td>-44,20</td>
										<td></td>
										<td>784,00</td>
										<td>-3,29</td>
									</tr>
									<tr class="tr_d">							
										<td>9.4</td>
										<td>9.4</td>
										<td>620,34</td>
										<td>559,48</td>
										<td>0,00</td>
										<td>60,86</td>
										<td></td>
										<td>0,00</td>
									</tr>
									<tr class="tr_d">							
										<td>6.4</td>
										<td>8.4</td>
										<td>619,32</td>
										<td>620,34</td>
										<td>1,02</td>
										<td></td>
										<td></td>
										<td>0,16</td>
									</tr>
									<tr class="tr_d">							
										<td>5.4</td>
										<td>5.4</td>
										<td>1564,79</td>
										<td>619,32</td>
										<td>-40,60</td>
										<td>904,87</td>
										<td></td>
										<td>-2,59</td>
									</tr>
									<tr class="tr_d">							
										<td>3.4</td>
										<td>4.4</td>
										<td>1565,56</td>
										<td>1564,79</td>
										<td>-0,77</td>
										<td></td>
										<td></td>
										<td>-0,05</td>
									</tr>
									<tr class="tr_d">							
										<td>1.4</td>
										<td>2.4</td>
										<td>1763,07</td>
										<td>1565,56</td>
										<td>0,00</td>
										<td>258,37</td>
										<td>60,86</td>
										<td>0,00</td>
									</tr>
									<tr class="tr_l">							
										<td rowspan="5">03/2018</td>
										<td>21.3</td>
										<td>30.3</td>
										<td>2352,48</td>
										<td>1763,07</td>
										<td>-589,41</td>
										<td></td>
										<td></td>
										<td>-25,05</td>
										<td rowspan="5">-27.83</td>
										<td rowspan="5">200</td>
									</tr>
									<tr class="tr_l">							
										<td>20.3</td>
										<td>20.3</td>
										<td>2340,57</td>
										<td>2352,48</td>
										<td>111,91</td>
										<td>100,00</td>
										<td></td>
										<td>4,78</td>
									</tr>
									<tr class="tr_l">							
										<td>16.3</td>
										<td>19.3</td>
										<td>2150,82</td>
										<td>2340,57</td>
										<td>189,75</td>
										<td></td>
										<td></td>
										<td>8,82</td>
									</tr>
									<tr class="tr_l">							
										<td>15.3</td>
										<td>15.3</td>
										<td>2124,46</td>
										<td>2150,82</td>
										<td>2,46</td>
										<td></td>
										<td>23,90</td>
										<td>0,11</td>
									</tr>
									<tr class="tr_l">							
										<td>1.3</td>
										<td>14.3</td>
										<td>2544,2</td>
										<td>2124,46</td>
										<td>-419,74</td>
										<td></td>
										<td></td>
										<td>-16,50</td>
									</tr>
									<tr class="tr_d">										
										<td>02/2018</td>
										<td>1.2</td>
										<td>28.2</td>
										<td>3757,88</td>
										<td>2544,2</td>
										<td>-1213,68</td>
										<td></td>
										<td></td>
										<td>-32,30</td>
										<td>-32,30</td>
										<td>228</td>
									</tr>
									<tr class="tr_l">										
										<td>01/2018</td>
										<td>1.1</td>
										<td>31.1</td>
										<td>6418,7</td>
										<td>3757,88</td>
										<td>-2660,82</td>
										<td></td>
										<td></td>
										<td>-41,45</td>
										<td>-41,45</td>
										<td>260</td>
									</tr>
									<tr class="tr_d">							
										<td rowspan="2">12/2017</td>
										<td>27.12</td>
										<td>31.12</td>
										<td>6766,6</td>
										<td>6418,7</td>
										<td>0,00</td>
										<td>347,90</td>
										<td></td>
										<td>0,00</td>
										<td rowspan="2">41.00</td>
										<td rowspan="2">301</td>
									</tr>
									<tr class="tr_d">							
										<td>1.12</td>
										<td>26.12</td>
										<td>4798,87</td>
										<td>6766,6</td>
										<td>1967,73</td>
										<td></td>
										<td></td>
										<td>41,00</td>
									</tr>
									<tr class="tr_l">							
										<td rowspan="6">11/2017</td>
										<td>18.11</td>
										<td>30.11</td>
										<td>5416,86</td>
										<td>4798,87</td>
										<td>-617,99</td>
										<td></td>
										<td></td>
										<td>-11,41</td>
										<td rowspan="6">-22.86</td>
										<td rowspan="6">260</td>
									</tr>
									<tr class="tr_l">							
										<td>17.11</td>
										<td>17.11</td>
										<td>4567,81</td>
										<td>5416,86</td>
										<td>-346,55</td>
										<td></td>
										<td>1195,60</td>
										<td>-6,01</td>
									</tr>
									<tr class="tr_l">							
										<td>15.11</td>
										<td>16.11</td>
										<td>4974,88</td>
										<td>4567,81</td>
										<td>-407,07</td>
										<td></td>
										<td></td>
										<td>-8,18</td>
									</tr>
									<tr class="tr_l">							
										<td>14.11</td>
										<td>14.11</td>
										<td>4692,99</td>
										<td>4974,88</td>
										<td>-698,11</td>
										<td></td>
										<td>980,00</td>
										<td>-12,31</td>
									</tr>
									<tr class="tr_l">							
										<td>2.11</td>
										<td>13.11</td>
										<td>3700,34</td>
										<td>4692,99</td>
										<td>992,65</td>
										<td></td>
										<td></td>
										<td>26,83</td>
									</tr>
									<tr class="tr_l">							
										<td>1.11</td>
										<td>1.11</td>
										<td>4619,54</td>
										<td>3700,34</td>
										<td>-543,82</td>
										<td>375,38</td>
										<td></td>
										<td>-11,77</td>
									</tr>
									<tr class="tr_d">							
										<td rowspan="3">10/2017</td>
										<td>26.10</td>
										<td>31.10</td>
										<td>4001,67</td>
										<td>4619,54</td>
										<td>617,87</td>
										<td></td>
										<td></td>
										<td>15,44</td>
										<td rowspan="3">46,59</td>
										<td rowspan="3">283</td>
									</tr>
									<tr class="tr_d">
										<td>25.10</td>
										<td>25.10</td>
										<td>2381,07</td>
										<td>4001,67</td>
										<td>640,60</td>
										<td></td>
										<td>980,00</td>
										<td>19,06</td>
									</tr>
									<tr class="tr_d">
										<td>1.10</td>
										<td>24.10</td>
										<td>2124,19</td>
										<td>2381,07</td>
										<td>256,88</td>
										<td></td>
										<td></td>
										<td>12,09</td>
									</tr>
									<tr class="tr_l">						
										<td rowspan="3">09/2017</td>
										<td>12.9</td>
										<td>30.9</td>
										<td>2372,51</td>
										<td>2124,19</td>
										<td>-248,32</td>
										<td></td>
										<td></td>
										<td>-10,47</td>
										<td rowspan="3">-10,21</td>
										<td rowspan="3">237</td>
									</tr>
									<tr class="tr_l">							
										<td>11.9</td>
										<td>11.9</td>
										<td>3372,51</td>
										<td>2372,51</td>
										<td>0,00</td>
										<td>1000,0</td>
										<td></td>
										<td>0,00</td>
									</tr>
									<tr class="tr_l">							
										<td>1.9</td>
										<td>10.9</td>
										<td>3363,96</td>
										<td>3372,51</td>
										<td>8,55</td>
										<td></td>
										<td></td>
										<td>0,25</td>
									</tr>
									<tr class="tr_d">									
										<td>08/2017</td>
										<td>1.8</td>
										<td>31.8</td>
										<td>4163,01</td>
										<td>3363,96</td>
										<td>-799,05</td>
										<td></td>
										<td></td>
										<td>-19,19</td>
										<td>-19,19</td>
										<td>247</td>
									</tr>
									<tr class="tr_l">							
										<td rowspan="4">07/2017</td>
										<td>31.7</td>
										<td>31.7</td>
										<td>5028,25</td>
										<td>4163,01</td>
										<td>-39,81</td>
										<td>825,43</td>
										<td></td>
										<td>-0,79</td>
										<td rowspan="4">125,33</td>
										<td rowspan="4">266</td>
									</tr>
									<tr class="tr_l">							
										<td>19.7</td>
										<td>30.7</td>
										<td>3927,65</td>
										<td>5028,25</td>
										<td>1100,60</td>
										<td></td>
										<td></td>
										<td>28,02</td>
									</tr>
									<tr class="tr_l">							
										<td>18.7</td>
										<td>18.7</td>
										<td>4683,75</td>
										<td>3927,65</td>
										<td>-156,65</td>
										<td>599,45</td>
										<td></td>
										<td>-3,34</td>
									</tr>
									<tr class="tr_l">							
										<td>1.7</td>
										<td>17.7</td>
										<td>2325,03</td>
										<td>4683,75</td>
										<td>2358,72</td>
										<td></td>
										<td></td>
										<td>101,45</td>
									</tr>
									<tr class="tr_d">							
										<td rowspan="7">06/2017</td>
										<td>30.6</td>
										<td>30.6</td>
										<td>1841,09</td>
										<td>2325,03</td>
										<td>483,94</td>
										<td></td>
										<td></td>
										<td>26,29</td>
										<td rowspan="7">17,57</td>
										<td rowspan="7">141</td>
									</tr>
									<tr class="tr_d">							
										<td>29.6</td>
										<td>29.6</td>
										<td>1132,28</td>
										<td>1841,09</td>
										<td>-297,91</td>
										<td></td>
										<td>1006,72</td>
										<td>-13,93</td>
									</tr>
									<tr class="tr_d">							
										<td>15.6</td>
										<td>28.6</td>
										<td>1903,95</td>
										<td>1132,28</td>
										<td>-771,67</td>
										<td></td>
										<td></td>
										<td>-40,53</td>
									</tr>
									<tr class="tr_d">							
										<td>14.6</td>
										<td>14.6</td>
										<td>1401,47</td>
										<td>1903,95</td>
										<td>495,42</td>
										<td></td>
										<td>7,06</td>
										<td>35,17</td>
									</tr>
									<tr class="tr_d">							
										<td>6.6</td>
										<td>13.6</td>
										<td>1075,85</td>
										<td>1401,47</td>
										<td>325,62</td>
										<td></td>
										<td></td>
										<td>30,27</td>
									</tr>
									<tr class="tr_d">							
										<td>5.6</td>
										<td>5.6</td>
										<td>481,2</td>
										<td>1075,85</td>
										<td>-33,71</td>
										<td></td>
										<td>628,36</td>
										<td>-3,04</td>
									</tr>
									<tr class="tr_d">							
										<td>1.6</td>
										<td>4.6</td>
										<td>577,42</td>
										<td>481,2</td>
										<td>-96,22</td>
										<td></td>
										<td></td>
										<td>-16,66</td>
									</tr>
									<tr class="tr_l">
										<td>05/2017</td>
										<td>1.5</td>
										<td>31.5</td>
										<td>594,57</td>
										<td>577,42</td>
										<td>-17,15</td>
										<td></td>
										<td></td>
										<td>-2,88</td>
										<td>-2,88</td>
										<td>123</td>
									</tr>
									<tr class="tr_d">
										<td>04/2017</td>
										<td>1.4</td>
										<td>30.4</td>
										<td>999,02</td>
										<td>594,57</td>
										<td>-404,45</td>
										<td></td>
										<td></td>
										<td>-40,48</td>
										<td>-40,48</td>
										<td>126</td>
									</tr>
									<tr class="tr_l">
										<td>03/2017</td>
										<td>1.3</td>
										<td>31.3</td>
										<td>557,51</td>
										<td>999,02</td>
										<td>441,51</td>
										<td></td>
										<td></td>
										<td>79,19</td>
										<td>79,19</td>
										<td>167</td>
									</tr>
									<tr class="tr_d">
										<td>02/2017</td>
										<td>1.2</td>
										<td>28.2</td>
										<td>468,13</td>
										<td>557,51</td>
										<td>89,38</td>
										<td></td>
										<td></td>
										<td>19,09</td>
										<td>19,09</td>
										<td>87</td>
									</tr>
									<tr class="tr_l">
										<td>01/2017</td>
										<td>1.1</td>
										<td>21.1</td>
										<td>837,51</td>
										<td>468,13</td>
										<td>-369,38</td>
										<td></td>
										<td></td>
										<td>-44,10</td>
										<td>-44,10</td>
										<td>68</td>
									</tr>
									<tr class="tr_d">
										<td>12/2016</td>
										<td>6.12</td>
										<td>31.12</td>
										<td>394,28</td>
										<td>837,51</td>
										<td>443,23</td>
										<td></td>
										<td></td>
										<td>112,42</td>
										<td>112,42</td>
										<td>112</td>
									</tr>
								</tbody>
							</table>

							<p class="o-sans mt_15">We build an absolutely transparent and honest relationship with our Investors. We have opened access to the Portfolio Statement and Positions Report of our trading account №1. Now everyone can be sure we provide "Real Trade. True results"</p>

							<div class="history_links_wraper">
								<a class="button btn_gold" href="Dynamic_Portfolio_Statement_history_account_1.pdf">Portfolio Statement</a>
								<a class="button btn_gold" href="Dynamic_Position_Report_history_account_1.pdf">Position Report</a>
							</div>
							
							<!-- <p class="o-sans"></p> -->
						</div>

						<div class="col-md-12">
							<h2>Our performance results for Trading Account №2</h2>
							<p class="o-sans ta_c">On June 25, 2018 we closed our trading account №1, and on June 26, 2018 we opened our own trading account №2 and continued to apply our developed trading strategy. Trading on our account №2 has been conducting since June 26, 2018 till January 11, 2019. Annualized performance of our trading account during this period is represented on the chart below.</p>
							<!-- div for chart -->
							<div class="history_dyn2"></div>
							<p class="history_text o-sans ta_c history_text__chart">The historic data is no guarantee or promise for future performance. The above-mentioned performance results are net results.</p>
							<p class="o-sans">Also, the results of trading on this account are presented in the table.</p>

							<label for="history_t2" class="label_history_table label1 btn_dblue">TABLE 2. Performance results for Trading Account №2</label>
							<input id="history_t2" type="checkbox">

							<table class="history_table">
								<thead class="fixed">
									<tr>
										<th>Month/ Year</th>
										<th>Start Date</th>
										<th>Finish Date</th>
										<th>Start Balance, USD</th>
										<th>Finish Balance, USD</th>
										<th>Profit, USD</th>
										<th>Withdrawal, USD</th>
										<th>Deposit, USD</th>
										<th>Profit, %</th>
										<th>Monthly Result, %</th>
										<th>General Result, %</th>
									</tr>
								</thead>
								<tbody>
									<tr class="tr_l">
										<td rowspan="2">01/2019</td>							
										<td>11.1</td>
										<td>13.1</td>
										<td>4253,67</td>
										<td>200</td>
										<td>-381,91</td>
										<td>3871,76</td>
										<td>200,00</td>
										<td>-8,58</td>
										<td rowspan="2">-19,29</td>
										<td rowspan="2">398</td>
									</tr>
									<tr class="tr_l">							
										<td>1.1</td>
										<td>10.1</td>
										<td>4764,2</td>
										<td>4253,67</td>
										<td>-510,53</td>
										<td></td>
										<td></td>
										<td>-10,72</td>
									</tr>
									<tr class="tr_d">
										<td rowspan="2">12/2018</td>
										<td>27.12</td>
										<td>31.12</td>
										<td>6700,8</td>
										<td>4764,2</td>
										<td>0,00</td>
										<td>1936,60</td>
										<td></td>
										<td>0,00</td>
										<td rowspan="2">125,65</td>
										<td rowspan="2">417</td>
									</tr>
									<tr class="tr_d">
										<td>1.12</td>
										<td>26.12</td>
										<td>2969,61</td>
										<td>6700,8</td>
										<td>3731,19</td>
										<td></td>
										<td></td>
										<td>125,65</td>
									</tr>
									<tr class="tr_l">
										<td rowspan="2">11/2018</td>
										<td>2.11</td>
										<td>30.11</td>
										<td>3784,42</td>
										<td>2969,61</td>
										<td>-904,81</td>
										<td></td>
										<td></td>
										<td>-23,35</td>
										<td rowspan="2">-16,82</td>
										<td rowspan="2">292</td>
									</tr>
									<tr class="tr_l">
										<td>1.11</td>
										<td>1.11</td>
										<td>3748,07</td>
										<td>3874,42</td>
										<td>244,80</td>
										<td>118,45</td>
										<td></td>
										<td>6,53</td>
									</tr>
									<tr class="tr_d">
										<td rowspan="3">10/2018</td>
										<td>20.10</td>
										<td>31.10</td>
										<td>3456,8</td>
										<td>3748,07</td>
										<td>291,27</td>
										<td></td>
										<td></td>
										<td>8,43</td>
										<td rowspan="3">25,40</td>
										<td rowspan="3">308</td>
									</tr>
									<tr class="tr_d">
										<td>19.10</td>
										<td>19.10</td>
										<td>3426,52</td>
										<td>3456,8</td>
										<td>10,91</td>
										<td></td>
										<td>19,37</td>
										<td>0,32</td>
									</tr>
									<tr class="tr_d">
										<td>1.10</td>
										<td>18.10</td>
										<td>2937,19</td>
										<td>3426,52</td>
										<td>489,33</td>
										<td></td>
										<td></td>
										<td>16,66</td>
									</tr>
									<tr class="tr_l">
										<td rowspan="5">09/2018</td>
										<td>28.9</td>
										<td>30.9</td>
										<td>3220,07</td>
										<td>2937,19</td>
										<td>-282,88</td>
										<td></td>
										<td></td>
										<td>-8,78</td>
										<td rowspan="5">-30,50</td>
										<td rowspan="5">283</td>
									</tr>
									<tr class="tr_l">
										<td>27.9</td>
										<td>27.9</td>
										<td>3454,45</td>
										<td>3220,07</td>
										<td>-350,02</td>
										<td></td>
										<td>115,64</td>
										<td>-9,80</td>
									</tr>
									<tr class="tr_l">
										<td>12.9</td>
										<td>26.9</td>
										<td>3083,43</td>
										<td>3454,45</td>
										<td>371,02</td>
										<td></td>
										<td></td>
										<td>12,03</td>
									</tr>
									<tr class="tr_l">
										<td>11.9</td>
										<td>11.9</td>
										<td>2134,95</td>
										<td>3083,43</td>
										<td>-227,52</td>
										<td></td>
										<td>1176,00</td>
										<td>-6,87</td>
									</tr>
									<tr class="tr_l">
										<td>1.9</td>
										<td>10.9</td>
										<td>2574,49</td>
										<td>2134,95</td>
										<td>-439,54</td>
										<td></td>
										<td></td>
										<td>-17,07</td>
									</tr>
									<tr class="tr_d">
										<td rowspan="2">08/2018</td>
										<td>2.8</td>
										<td>31.8</td>
										<td>3252,84</td>
										<td>2574,49</td>
										<td>-678,35</td>
										<td></td>
										<td></td>
										<td>-20,85</td>
										<td rowspan="2">-14,99</td>
										<td rowspan="2">314</td>
									</tr>
									<tr class="tr_d">
										<td>1.8</td>
										<td>1.8</td>
										<td>2472,73</td>
										<td>3252,84</td>
										<td>180,07</td>
										<td></td>
										<td>600,04</td>
										<td>5,86</td>
									</tr>
									<tr class="tr_l">
										<td rowspan="3">07/2018</td>
										<td>5.7</td>
										<td>31.7</td>
										<td>2503,82</td>
										<td>2472,73</td>
										<td>-31,09</td>
										<td></td>
										<td></td>
										<td>-1,24</td>
										<td rowspan="3">9,49</td>
										<td rowspan="3">328</td>
									</tr>
									<tr class="tr_l">
										<td>4.7</td>
										<td>4.7</td>
										<td>2538,77</td>
										<td>2503,82</td>
										<td>73,70</td>
										<td>108,65</td>
										<td></td>
										<td>2,90</td>
									</tr>
									<tr class="tr_l">
										<td>1.7</td>
										<td>3.7</td>
										<td>2354,47</td>
										<td>2538,77</td>
										<td>184,30</td>
										<td></td>
										<td></td>
										<td>7,83</td>
									</tr>
									<tr class="tr_d">
										<td rowspan="3">06/2018</td>
										<td>27.6</td>
										<td>30.6</td>
										<td>2409,91</td>
										<td>2354,47</td>
										<td>-55,44</td>
										<td></td>
										<td></td>
										<td>-2,30</td>
										<td rowspan="3">-2,30</td>
										<td rowspan="3">319</td>
									</tr>
									<tr class="tr_d">
										<td>26.6</td>
										<td>26.6</td>
										<td>0</td>
										<td>2409,91</td>
										<td>0,00</td>
										<td>99,00</td>
										<td>2508,91</td>
										<td>0,00</td>
									</tr>
									<tr class="tr_d">
										<td colspan="7">Profit from Account No.1</td>
										<td>321</td>
									</tr>
								</tbody>
							</table>

							<p class="o-sans mt_15">We build an absolutely transparent and honest relationship with our Investors. We have opened access to the Portfolio Statement and Positions Report of our trading account №2. Now everyone can be sure we provide "Real Trade. True results"</p>

							<div class="history_links_wraper">
								<a class="button btn_gold" href="Dynamic_Portfolio_Statement_history_account_2.pdf">Portfolio Statement</a>
								<a class="button btn_gold" href="Dynamic_Positions_Report_history_account_2.pdf">Position Report</a>
							</div>							

							<p class="o-sans">Thus, after testing our own self-made trading strategy on our own trading accounts for 2 years (from December 2016 to January 2019) and getting excellent results, we decided to open the Dynamic Portfolio Account. Starting from January 14, 2019, any Investor can open his own Managed Account and attach it to our account.</p>
							<p class="o-sans">Also you can have a detailed look at our Dynamic Portfolio Performance Results since January 14, 2019.</p>
						</div>
						<div class="col-md-12">
							<a href="portfolio.html#portfolio_description" class="big_link">See our Dynamic Portfolio now!</a>
						</div>				
					</div>
				</div>
			</section>

			<!-- section plans -->
			<section class="wr-plans wr-mr250">
				<div class="container">
					<div class="row">
						
						<div class="col-md-12">
							
							<p class="disclaimer">
								Risk Warning: The Investor confirms being aware of the speculative nature and the high risks associated with margin trading, mechanisms, characteristics and high degree of volatility of the currency and derivatives market. The Investor understands and agrees that margin trading might result in total loss of funds deposited as a margin and that consequently, only “risk” funds should be used in such trading. Anyone who does not have the extra capital that may be subject to a total loss should not trade on margin. No “safe” trading system has ever been devised, and no one can guarantee profits or freedom from loss. The Investor hereby certifies to have understood any and all risks related to the present managed account service at copytradingforex.com. Without any exceptions Master Traders assume no obligations with regard to any guarantee or promise of future profitable performance.
							</p>
						</div>
					</div>
				</div>
			</section>

 			<section class="footer_navigation wr-mr250">
 				<div class="container">
 					<div class="row">
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>About us</h4>
 								<ul>
 									<li><a href="index.html#why_ctf">Why copytradingforex.com?</a></li>
 									<li><a href="index.html#perfomance_results">Our performance results</a></li>
 									<li><a href="master-traders.html">Master Traders</a></li>
 								</ul>
 							</nav>
 						</div>
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>Our Service</h4>
 								<ul>
 									<li><a href="portfolio.html#portfolio_description">Dynamic Portfolio</a></li>
 									<li><a href="portfolio.html#portfolio_description">Balanced Portfolio</a></li>
 									<li><a href="https://www.dukascopy.com/swiss/english/forex/FX-Interbank-Account/?headerBar&ibref=13893" target="blank">Open Managed Account</a></li>
 									<li class="md_hidden"><a href="dynamic-portfolio-statement.html" target="blank">Dynamic Portfolio Statement</a></li>
 									<li class="md_hidden"><a href="balanced-portfolio-statement.html" target="blank">Balanced Portfolio Statement</a></li>
 								</ul>
 							</nav>
 						</div>
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>For Investors</h4>
 								<ul>
 									<li><a href="how-it-works.html#what_ctf">What is Fund Management?</a></li>
 									<li><a href="how-it-works.html#allocation">Example of trade allocation</a></li>
 									<li><a href="start-now.html">How to start?</a></li>
 									<li><a href="start-now.html#step2">Equity Stop Loss Level function</a></li>
 									<li><a href="how-it-works.html#remuner">Remuneration</a></li>
 									<!-- <li><a href="contacts.html#testimons">Testimonials</a></li> -->
 								</ul>
 							</nav>
 						</div>
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>Contact us</h4>
 								<ul>
 									<li><a class="footer_email__link" href="mailto:contact@copytradingforex.com">contact@copytradingforex.com</a></li>
 									<li><a href="https://www.facebook.com/CopyTradingForexcom" target="blank">facebook</a></li>
 									<li><a href="https://www.youtube.com/channel/UCoxLJbMote284Owk_kcHuBQ" target="blank">youtube</a></li>
 									<li><a href="https://www.instagram.com/unique_copy_trading_forex/" target="blank">instagram</a></li>
 									<li><a href="https://t.me/CopyTradingForex" target="blank">telegram channel</a></li>
 								</ul>
 							</nav>
 						</div>
 					</div>
 				</div>
 			</section>

 			<footer class="footer wr-mr250">
	 			<small>© 2018 WebKnight-developer. All Rights Reserved.</small>
	 		</footer>

 		</div> 	


 		<!-- Plagins -->
 		<!-- popup Portfolio statements are disabled for mobile devices -->
 		<div class="popup jsPopupNomob">
 			<p>For a convenient data representation Performance Results are available only for desktop version.</p>
 			<a href="#" class="b-close">x</a>
 		</div>	
	

 		<!-- JS -->
 		<script src="libs/jquery/jquery-1.12.4.min.js"></script>
 		<script src="libs/bootstrap/bootstrap.min.js"></script>

 		<!-- graphics with AMCHARTS.js -->
 		<script src="libs/amcharts4/core.js"></script>  <!-- core.js ALWAYS should be THE FIRST -->
		<script src="libs/amcharts4/charts.js"></script>
		<script src="libs/amcharts4/themes/animated.js"></script>

		<!--Start of Tawk.to Script-->
		<script>
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/5c2d32e582491369baa03ed3/default';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
		})();
		</script>
		<!--End of Tawk.to Script-->

		<script src="libs/jquery/jquery.bpopup.min.js"></script>
		<script src="js/history_graphics.js"></script>

 	</body>
 </html>
 