 <!DOCTYPE html>
 <html lang="en">
 	<head>
 		<!-- META -->
 		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, inicial-scale=1.0">
 		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->

 		<!-- FAVICON -->
 		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

 		<!-- SEO -->
 		<meta name="Description" content="How to invest on Forex? - EASY!!! We made investing in forex trading convenient for you!  
 		Start now to make money with Forex - let your passive income increase!">
 		<meta name='keywords' content="forex trading,smart investing,investing in forex without trading,make money in forex">

 		<meta name="Rating" content="">    
 		<meta name="Author" content="">
 		<meta name="Robots" content="index,follow">
 		<!-- <meta name="robots" content="noindex"> -->

 		<!-- CONFIG -->
 		<meta name="format-detection" content="telephone=no">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134605534-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-134605534-1');
		</script>

 		<!-- Стили -->
 		<link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
 		<link rel="stylesheet" href="libs/slick/slick.css">
 		<link rel="stylesheet" href="css/index.min.css">

 		<title>CopyTradingForex - Easy Invest In Forex Without Trading!</title>
		<script src="js/index.js"></script>

	</head>

 	<body>

 		<!-- [if lt IE 10]>
 			<p class="browsehappy">You're using <strong>OLD version of Internet Explorer</strong>. Please, <a href="http://browsehappy.com/>update your browser</a> to see more opportunities in browser!</p>
 		[endif]-->

 		<!-- Preloader -->
 		<div class="preloader"></div>

 		<div class="app">

 			<!-- rightside navigation fixed --> 			
			<nav class="navbar navbar-expand-xl nav_aside">
				<a class="navbar-brand logo_mob" href="index.html"><img class="img-fluid" src="img/logo_small.png" alt="logo"></a>
				<a class="navbar-brand logo_desk" href="index.html"><img class="img-fluid" src="img/logo_mid.png" alt="logo"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarNav">
					<div class="navbar-nav">
						<a class="nav-item active nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link" href="portfolio.html">Portfolio</a>
						<a class="nav-item nav-link" href="portfolio.html">Login</a>

						<a class="nav-item nav-link" href="start-now.html">Start now</a>
						<a class="nav-item nav-link" href="how-it-works.html">How it works</a>
						<a class="nav-item nav-link" href="master-traders.html">Master traders</a>
						<a class="nav-item nav-link" href="contacts.html">Contacts</a>
						<!-- <a class="nav-item nav-link" href="history.html">Our History</a> -->
					</div>
				</div>
			</nav>			

 			<!-- main_billboard -->
 			<section class="wr-main_billboard wr-mr250">
 				<!-- billboard_slider -->
				<div class="billboard_slider jsBillboardSlider">
					<!-- with divs -->
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>				
				</div>				

				<!-- logo+a wraper -->	<!-- slider for index (running row) -->
				<div class="billboard_heading">
				
					<!-- <div class="index_slider jsIndexSlider">
						<p>Dynamic Portfolio: Total Yield 415%</p>
						<p>6 month Yield: 87%</p>
						<p>3 month Yield: 107%</p>
						<p>Balanced Portfolio: Total Yield 119%</p>
						<p>6 month Yield: 43%</p>
						<p>3 month Yield: 51%</p>
					</div> -->

					<!-- Parallax effect for main heading -->
					<div id="scene">
						<div data-depth="0.2">
							<img class="img-fluid" src="img/logo.png" alt="logo">
						</div>
						<div data-depth="0.4">
							<p class="title_home">Real trade. True results</p>
						</div>
						<div data-depth="0.2">						
							<a class="billboard_link btn_dblue" href="how-it-works.html">How it works</a>
						</div>
					</div>

				</div>
 			</section>

 			<!-- section Our performance -->
 			<section id="perfomance_results" class="wr-our_performance wr-mr250">
 				<div class="container">
 					<div class="row">
 						<div class="col-md-12">
 							<h2>Our performance results</h2>
 						</div>
 						<div class="col-md-6">
							<div class="performance">
								<p class="o-sans">Annualized performance for all <span class="gold">Balanced Portfolio</span> investor accounts of <span class="grey">Copy</span><span class="gold">Trading</span><span class="d_blue">Forex</span>.com during the period of April 2018 until now</p>
								<div class="chartdiv_bal"></div>
							</div>
 						</div>
 						<div class="col-md-6">
							<div class="performance">
								<p class="o-sans">Annualized performance for all <span class="d_blue">Dynamic Portfolio</span> investor accounts of <span class="grey">Copy</span><span class="gold">Trading</span><span class="d_blue">Forex</span>.com during the period of January 2019 until now</p>
								<div class="chartdiv_dyn"></div>
							</div>
						</div>						
 						<div class="col-md-12">
 							<div class="after_performance">
 								<p class="o-sans non_text_indent">The historic data is no guarantee or promise for future performance. The above-mentioned performance results are net results.</p>
 								<p class="o-sans non_text_indent">Please <a href="portfolio.html">CLICK HERE</a> in order to have a detailed look at our Investment Performance Results.</p>
 							</div> 							
 						</div>
 					</div>
 				</div>
 			</section>

 			<!-- section Invest Wisely -->
 			<section class="wr-invest_wisely wr-mr250">
 				<div class="container">
 					<div class="row">
 						<div class="col-md-12">
 							<h1>Invest in Forex wisely</h1>
 							<p class="o-sans">The investing activity involves the assets purchase in order to get such a profit that would lead to the development of a long-time asset. If you want to succeed in this, you should invest in products which returns are at least equal with the inflation rate. Forex Trading is one of the most popular methods for smart investing.</p>
 							<p class="o-sans">So, what exactly should you do in order to make money in Forex investments’ world?</p>
 							<p class="o-sans">You have two options. First is to be a Trader and have your own trading strategy that works good. Or the second is to use account management services provided by a Master Trader. If you do not have enough knowledge or time for currency trading, then Fund Management is the best way for you to touch the Forex world. Let the Master Traders do the hard work instead of you and start getting the same results as they do.</p>
 							<p class="o-sans">No matter what you choose, first of all you have to learn the main rules and stick to them. Then you should develop a strategic plan and follow it until you achieve your goals.</p>
 							<br>
 							<p class="o-sans">What you should pay particular attention when planning to invest in Forex market?</p>
 						</div>
 					</div>

 					<div class="row">
 						<div class="order-1 col-md-7 order-md-1 col-lg-6 offset-lg-1">
 							<h3>1. Your investing funds</h3>
 							<p class="o-sans">Starting with a fixed amount of money is not a rule so you can start investing with small amounts. Each dollar has the power to generate nice profits! By starting with mini-investments you will be able to learn the rules of the game and increase your funds in time. But the most important thing rather than the basic funds is the moment when you start investing.</p>
 						</div>
 						<div class="order-2 col-sm-8 offset-sm-4 col-md-5 order-md-2 offset-md-0 col-xl-4">
 							<img class="img-fluid invest_pic" src="img/invest_wisely_1.jpg" alt="Your investing funds">
 						</div>

 						<div class="order-4 col-sm-8 col-md-5 order-md-3 col-xl-4 offset-xl-1">
 							<img class="img-fluid invest_pic" src="img/invest_wisely_2.jpg" alt="Moment that you start">
 						</div>
 						<div class="order-3 col-md-7 order-md-4 col-lg-6">
 							<h3>2. The moment when you start and the period you keep investing</h3>
 							<p class="o-sans">Time is the investments’ best friend. But it could be also their worst enemy if you do not use it in your favor. You can’t turn back time but you can use it by starting to invest earlier. Time is a great ally for the money, that’s why you should focus on the moment you start and the period you keep investing. You can not start investing earlier than you did, but if you didn’t yet – now is the right moment to do that!</p>
 						</div>
 						
 						<div class="order-5 col-md-7 order-md-5 col-lg-6 offset-lg-1">
 							<h3>3. Money allocation according to your risk profile</h3>
 							<p class="o-sans">This should be the prior thing when you start investing because the way you allocate funds will affect the risk level and the money return you get. So you can do this according to you, your risk profile, your age and the period of time you set for your purpose achievement.</p>
 							<p class="o-sans">For example, you can see the trade allocation of "Fund Management" provided by our Master Traders here.</p>
 						</div>
 						<div class="order-6 col-sm-8 offset-sm-4 col-md-5 order-md-6 offset-md-0 col-xl-4">
 							<img class="img-fluid invest_pic" src="img/invest_wisely_3.jpg" alt="Allocation">
 						</div>

 						<div class="order-8 col-sm-8 col-md-5 order-md-7 col-xl-4 offset-xl-1">
 							<img class="img-fluid invest_pic" src="img/invest_wisely_4.jpg" alt="Return">
 						</div>
 						<div class="order-7 col-md-7 order-md-8 col-lg-6">
 							<h3>4. The return or the rate that you increase your investment by</h3>
 							<p class="o-sans">The return is the profit that your investment gains. Work for each money you save and make them work for you as well. Give your money some important tasks and let them all work together to exponentially increase your investment. Well, that doesn’t mean that you have to invest all your money, but not to touch them whenever you get some unplanned needs.</p>
 							<p class="o-sans">Our Master Traders give a real statistic with their trading strategy which is better: to take your profit each month or to reinvest. The Charts for Balanced Portfolio and for Dynamic Portfolio you can see <a href="portfolio.html#portfolio_description">here</a>.</p>
 						</div>
 						
 						<div class="order-9 col-md-5 offset-md-1 col-xl-4 offset-xl-2">
 							<h3>5. Become a successful Investor!</h3>
 							<p class="o-sans">Remember: ‘The investment world is not like a place for beginners or amateurs, but a world of professional people’. We all are involved in the same activity and seek for successful results. That’s why it is important to invest wisely, to choose a forex trading strategy that works good or to start working with a Master Trader.</p>
 						</div>
 						<div class="order-10 col-md-5 col-lg-4">
 							<img class="img-fluid invest_pic" src="img/invest_wisely_5.jpg" alt="Become a successful investor!">
 						</div>
 					</div>

 					<div class="row">
 						<div class="col-md-12">
 							<p class="o-sans">When you set your targets you have to work to achieve them and in order to make it, you have to follow <a href="#golden_rules" class="invest_wisely__link">“The Golden Rules of the Successful Investor”.</a></p>
 						</div>
 					</div>
 				</div>
 			</section>		

 			<!-- section WHY WE + pics with proposes -->
 			<section id="why_ctf" class="wr-why_we wr-mr250">
 				<div class="container">
 					<div class="row">
 						<div class="col-md-12">
 							<div class="why_we">
 								<h2>Why copytradingforex.com?</h2>
 								<ul class="we_because o-sans non_text_indent">
 									<li>
 										<img src="img/list1.png" alt="">
 										<h3>No monthly fee</h3>
 										<br>
 										Fee for <span class="up_case">guaranteed profit only</span>. When we bank a profit, so will you. <br>The Master Trader earns profit only at the profit of the Investor managed account.
 									</li>
 									<li>
 										<img src="img/list2.png" alt="">
 										<h3>Absolute transparency</h3>
 										<br>
 										Via secure online platform, investors enjoy direct access to financial investments. They may track performance and check the current status of their portfolio at any time. Additionally, they receive monthly Detailed Portfolio Statement and Positions Report of all pool
 									</li>
 									<li>
 										<img src="img/list3.png" alt="">
 										<h3>Invest in currency and protect your capital</h3>
 										<br>
 										Choice of <span class="d_blue" title="USD, CHF, EUR, GBP, JPY, AUD, CAD, DKK, ZAR, MXN, NOK, NZD, PLN, RUB, CNH, SEK, SGD, TRY and HKD">base currency</span> of the investment, to avoid the risk of devaluation. Individual Stop Loss Level for each account. Ability to block trading facilities for particular managed accounts. Facilities for payments between investor and Master Trader.
 									</li>
 								</ul>
 							</div>
 						</div>

 						<div class="col-md-12 wr-pic">
 							<div class="pics">
 								<figure>
 									<img class="img-fluid" src="img/pic1.jpg" alt="">
 									<figcaption>Real Trade</figcaption>
 								</figure>
								<p class="o-sans">We only trade real Forex positions according to our own self-made strategies. We invest our own real cash! Our money is also invested along-side yours.</p>
								<a class="btn_gold" href="start-now.html">Let's get started</a>
 							</div>
 							<div class="pics">
 								<figure>
 									<img class="img-fluid" src="img/pic2.jpg" alt="">
 									<figcaption>True Results</figcaption>
								</figure>
								<p class="o-sans">We only report real results, no paper trading or simulated demo accounts. We provide you with real Portfolio Statement and real Positions Report of our real trading accounts.</p>
								<a class="btn_gold" href="portfolio.html">Find out more</a>
							</div>
 							<div class="pics">
 								<figure>
 									<img class="img-fluid" src="img/pic3.jpg" alt="">
 									<figcaption>Experienced<br>Traders</figcaption>
								</figure>
								<p class="o-sans">For 13 years of currency trading we have created “self-made” trading strategies which allow us to make money.</p>
								<a class="btn_gold" href="master-traders.html">Our Master traders</a>
 							</div>
 						</div>						
 					</div>
 				</div>
 			</section>
 			
 			<section class="wr-counter wr-mr250">
 				<div class="container">
 					<div class="row">
 						<div class="col-md-3">
 							<div class="counter-item">
 								<img src="img/svg/experience.svg" alt="">
 								<!-- <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
 								<div>Icon made from 
 									<a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
 									 is licensed by CC BY 3.0
 								</div> -->
 								<span class="counter">14</span>
								<p>years forex trading experience</p>
 							</div>
 						</div>
 						<div class="col-md-3">
 							<div class="counter-item">
 								<img src="img/svg/graph.svg" alt="">
 								<span class="counter">53</span>
								<p>% Yield Dynamic Portfolio</p>
 							</div>
 						</div>
 						<div class="col-md-3">
 							<div class="counter-item">
 								<img src="img/svg/chart.svg" alt="">
 								<span class="counter">123</span>
								<p>% Yield Balanced Portfolio</p>
 							</div>
 						</div>
 						<div class="col-md-3">
 							<div class="counter-item">
 								<img src="img/svg/dollars-money-bag-svgrepo-com.svg" alt="">
 								<span class="counter">30000</span>
								<p>USD Managed Capital</p>
 							</div>
 						</div>
 					</div>
 				</div>
 			</section>

 			<!-- section The Golden RULES -->
 			<section class="wr-golden_rules wr-mr250" id="golden_rules">
 				<div class="container">
 					<div class="row">
 						<div class="col-md-12">
 							<h2>The Golden rules of the successful investor</h2>
 							<p class="o-sans">Successful investing in Forex market is a journey, not a one-time event, and you must be prepared as if you are going on a long trip. In this article, we'll lead you through the 15 steps of your expedition into investing and show you the details to pay attention to.</p>
 						</div>
 					</div>

 					<div class="row">
 						<div class="order-2 col-md-7 order-md-1 col-lg-7">
 							<h3>1. Make a plan and stick to it</h3>
 							<p class="o-sans">Start investing in Forex without a plan – sounds insane. Therefore, you have to assess your current situation and mark your financial objectives. Then proceed to your plan accomplishment.</p>
 							<h3>2. Who will trade?</h3>
 							<p class="o-sans">You need to decide are you ready to control your money or it’s better to invest in forex without trading by using forex management account.</p>
 							<h3>3. Make sure you created an emergency fund</h3>
 							<p class="o-sans">Creating an emergency fund you'll be able not to touch your investments in order to cover some unexpected needs that might occur. Only in this way, you will let your money work for you.</p> 														
 						</div>
 						<div class="order-1 col-sm-8 offset-sm-4 col-md-5 order-md-2 offset-md-0 col-xl-5">
 							<img class="img-fluid golden_rules_pic" src="img/rules-01.jpg" alt="Your investing funds">
 						</div>

 						<div class="order-3 col-sm-8 col-md-5 order-md-3 col-xl-5">
 							<img class="img-fluid golden_rules_pic" src="img/rules-11.jpg" alt="Moment that you start">
 						</div>
 						<div class="order-4 col-md-7 order-md-4 col-lg-7">
 							<h3>4. Start investing in the forex market right now!</h3>
 							<p class="o-sans">One of the biggest mistakes that people could do is to get informed, attend courses or find good forex account management services but too long delaying with the start of investing. Here is a fact: the earlier you start investing, the greater is the experience you can achieve!</p> 
 							<h3>5. Dare to be boring: keep it simple!</h3>
 							<p class="o-sans">Start by choosing the asset you want to invest in or directly open a forex managed account by choosing Master Trader who will trade instead of you, and let it work. Don’t try to “beat the market” because you won’t make it. Opt for safe investments and you’ll see how they will bring you a progressive profit.</p>
 							<h3>6. Understanding the funds’ allocation meaning</h3>
 							<p class="o-sans">As a general rule, the share that you decide to invest in different financial instruments or in forex account management companies makes the return that your portfolio will gain. The funds' allocation depends on your “appetite” toward the risk. It would be a correct thing to adjust your portfolio to the changes that might occur in your life, and to your life targets variation.</p>										
 						</div>
 						
 						<div class="order-6 col-md-7 order-md-5 col-lg-7">
 							<h3>7. Make a proper diversification</h3>
 							<p class="o-sans">By choosing to invest in different types of activities or in different Master Traders you disperse the risk and protect your funds from related declines.So, take care not to shift in the opposite side and diversify your portfolio too much, that’s because it will be difficult to manage it or to modify it when needed.</p>
 							<h3>8. Understanding the financial instruments you invest in and get informed about this</h3>
 							<p class="o-sans">All the time you have to know what happens with your money and your investment. It is very important to understand how each investment works in order to take the right decisions and to earn a profit. If you use copy trading or forex portfolio management with Master Traders you should know that the best forex managed account services should provide you each day email with information what is happening with your money. This is the correct way to keep control.</p> 
 						</div>
 						<div class="order-5 col-sm-8 offset-sm-4 col-md-5 order-md-6 offset-md-0 col-xl-5">
 							<img class="img-fluid golden_rules_pic" src="img/rules-2.jpg" alt="Allocation">
 						</div>

 						<div class="order-7 col-sm-8 col-md-5 order-md-7 col-xl-5">
 							<img class="img-fluid golden_rules_pic" src="img/rules-5.jpg" alt="Moment that you start">
 						</div>
 						<div class="order-8 col-md-7 order-md-8 col-lg-7">
 							<h3>9. Don’t buy or sell all at once</h3>
 							<p class="o-sans">When you start investing, you need time to understand how it works. Therefore, you shouldn’t invest all your savings in one single trade, in one single financial instrument. Only by practicing this business, you will understand how the investment’s market works as well as the investors’ psychology.</p>
 							<p class="o-sans">Choose type of investment that suits your profile. Then go for it and manage its evolution. Withal, get informed about other possible investments and if they suit you – keep it up in the same way! Thus, you will have a diversified portfolio, you will understand what you have to do further and you will gain experience. All these things will give you the fortitude to go on further by investing in other financial instruments. But if you use forex portfolio management by Master Trader he or she will make all these things instead of you.</p>
 							<h3>10. Understand what is the return and the risk, as well as the connection between them</h3>
 							<p class="o-sans">Before investing in Forex, find out what type of investor you are. Then decide for yourself and assess the risk you can afford. The connection between the risk and return is directly proportional: the bigger the risk, the bigger is the chance to get a high return.</p>				
 						</div>

 						<div class="order-10 col-md-7 order-md-9 col-lg-7">
 							<h3>11. Buy low and sell high</h3>
 							<p class="o-sans">Perhaps, in the beginning, you won’t be able to make it for each investment, but you have to keep the principle of trying and follow it as much possible. You don’t have to achieve the lows or highs, but you got to try keeping your business around them. Our Master Traders always try to make this. You can see how they handle it here.</p> 
 							<h3>12. Focus on the controllable things</h3>
 							<p class="o-sans">As soon as you cannot control your investments’ return, there is one thing you can manage for sure: the time, the place and the way you invest your money. That’s why it’s important to focus more on the things you can control rather than on the other things. There is no the best trading strategy, you have to try to find a forex trading strategy that works well for you.</p>
 							<h3>13. Don’t let your emotions control you</h3>
 							<p class="o-sans">If you get involved in this business, you have to learn to control your emotions. Do not let the fear or greed inform your investment choices. So don’t be greedy and don’t make wrong decisions. Sell when you achieved the profit and do not panic. If you can’t achieve with this point it’s better for you to start investing in forex without trading.</p>
 						</div>
 						<div class="order-9 col-sm-8 offset-sm-4 col-md-5 order-md-10 offset-md-0 col-xl-5">
 							<img class="img-fluid golden_rules_pic" src="img/rules-33.jpg" alt="Allocation">
 						</div>

 						<div class="order-11 col-sm-8 col-md-5 order-md-11 col-xl-5">
 							<img class="img-fluid golden_rules_pic" src="img/rules-4.png" alt="Moment that you start">
 						</div>
 						<div class="order-12 col-md-7 order-md-12 col-lg-7"> 							
 							<h3>14. Invest regularly</h3>
 							<p class="o-sans">Save and invest money at regular periods of time. This will help you to catch increasing periods that will bring you profit, same as decreasing periods that will offer you chances to purchase low. In our site, you can find information about what results you would have if you take your profits each month or when reinvest them.</p>
 							<h3>15. Assess your investments systematically</h3>
 							<p class="o-sans">You don’t have to trade weekly or monthly, but you must assess your investments and balance your portfolio systematically.</p>					
 						</div>

 						<div class="order-12 col-md-12">
 							<p class="o-sans rules_text"><b>And here’s the last advice:</b> you can succeed only if you got perseverance, discipline, and patience. Start investing in forex trading or make it without trading by using Master Traders right now and keep it up to achieve the best results!</p>
 						</div>  						
 					</div>

 				</div>
 			</section>	

 			<section class="wr-slogan wr-mr250">
 				<div class="container">
 					<div class="row">
 						<div class="col-md-12">
							<p class="disclaimer">
								Risk Warning: The Investor confirms being aware of the speculative nature and the high risks associated with margin trading, mechanisms, characteristics and high degree of volatility of the currency and derivatives market. The Investor understands and agrees that margin trading might result in total loss of funds deposited as a margin and that consequently, only “risk” funds should be used in such trading. Anyone who does not have the extra capital that may be subject to a total loss should not trade on margin. No “safe” trading system has ever been devised, and no one can guarantee profits or freedom from loss. The Investor hereby certifies to have understood any and all risks related to the present managed account service at copytradingforex.com. Without any exceptions Master Traders assume no obligations with regard to any guarantee or promise of future profitable performance.
							</p>
						</div>
 					</div>
 				</div>
 			</section>

 			<section class="footer_navigation wr-mr250">
 				<div class="container">
 					<div class="row">
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>About us</h4>
 								<ul>
 									<li><a href="index.html#why_ctf">Why copytradingforex.com?</a></li>
 									<li><a href="index.html#perfomance_results">Our performance results</a></li>
 									<li><a href="master-traders.html">Master Traders</a></li>
 								</ul>
 							</nav>
 						</div>
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>Our Service</h4>
 								<ul>
 									<li><a href="portfolio.html#portfolio_description">Dynamic Portfolio</a></li>
 									<li><a href="portfolio.html#portfolio_description">Balanced Portfolio</a></li>
 									<li><a href="https://www.dukascopy.com/swiss/english/forex/FX-Interbank-Account/?headerBar&ibref=13893" target="blank">Open Managed Account</a></li>
 									<li class="md_hidden"><a href="dynamic-portfolio-statement.html" target="blank">Dynamic Portfolio Statement</a></li>
 									<li class="md_hidden"><a href="balanced-portfolio-statement.html" target="blank">Balanced Portfolio Statement</a></li>
 								</ul>
 							</nav>
 						</div>
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>For Investors</h4>
 								<ul>
 									<li><a href="how-it-works.html#what_ctf">What is Fund Management?</a></li>
 									<li><a href="how-it-works.html#allocation">Example of trade allocation</a></li>
 									<li><a href="start-now.html">How to start?</a></li>
 									<li><a href="start-now.html#step2">Equity Stop Loss Level function</a></li>
 									<li><a href="how-it-works.html#remuner">Remuneration</a></li>
 									<!-- <li><a href="contacts.html#testimons">Testimonials</a></li> -->
 								</ul>
 							</nav>
 						</div>
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>Contact us</h4>
 								<ul>
 									<li><a class="footer_email__link" href="mailto:contact@copytradingforex.com">contact@copytradingforex.com</a></li>
 									<li><a href="https://www.facebook.com/CopyTradingForexcom" target="blank">facebook</a></li>
 									<li><a href="https://www.youtube.com/channel/UCoxLJbMote284Owk_kcHuBQ" target="blank">youtube</a></li>
 									<li><a href="https://www.instagram.com/unique_copy_trading_forex/" target="blank">instagram</a></li>
 									<li><a href="https://t.me/CopyTradingForex" target="blank">telegram channel</a></li>
 								</ul>
 							</nav>
 						</div>
 					</div>
 				</div>
 			</section>

 			<footer class="footer wr-mr250">
	 			<small>© 2020 WebKnight-developer. All Rights Reserved.</small>
	 		</footer>

 		</div> 		

 		<!-- Plagins -->
 		<div class="popup"></div>

 		<!-- JS -->
 		<script src="libs/jquery/jquery-1.12.4.min.js"></script>
 		<script src="libs/bootstrap/bootstrap.min.js"></script>
 		<script src="libs/slick/slick.min.js"></script>
 		<script src="libs/parallax/parallax.min.js"></script>

 		<!-- graphics with AMCHARTS.js -->
 		<script src="libs/amcharts4/core.js"></script>  <!-- core.js ALWAYS should be THE FIRST -->
		<script src="libs/amcharts4/charts.js"></script>
		<script src="libs/amcharts4/themes/animated.js"></script>

		<!-- for counter section -->
		<script src="libs/waypoints/waypoints.min.js"></script>
		<script src="libs/jquery/jquery.counterup.min.js"></script>

		<!--Start of Tawk.to Script-->
		<script type="text/javascript">
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/5c2d32e582491369baa03ed3/default';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
		})();
		</script>
		<!--End of Tawk.to Script-->

		<script src="js/my_graphics.js"></script>
 		<script src="js/index.js"></script>

 	</body>
 </html>
 