<table style="margin:0;padding:0; background: url(https://www.copytradingforex.com/letter/bg_main_letter.jpg) 0 0 no-repeat;background-size: cover;background-attachment: fixed;" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#eee">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td style="background:#070915" valign="top" bgcolor="#070915" width="600">

				<table style="background:#070915; margin: 0 auto;" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#070915">
					<tbody>
						<tr>
							<td style="background:#86c7ec;padding:15px 15px;text-align:center" colspan="2" valign="top">
								<img style="display:block; margin:0 auto;" src="https://www.copytradingforex.com/letter/logo_top.png" alt="CopyTradingForex logo" class="CToWUd">
							</td>
						</tr>
					</tbody>
				</table>

				<table style="background:#070915; margin: 0 auto;" border="0" width="90%" cellspacing="0" cellpadding="0" bgcolor="#070915">
					<tbody>
						<tr>
							<td style="padding:0;font:300 20px/1.43 Roboto,'Open sans',sans-serif;color:#000;text-align:center" colspan="2" valign="top">
								
								<img style="display:block; margin:0 auto;" src="https://www.copytradingforex.com/letter/bg-how-it-works_letter.jpg" alt="Screen" width="510" height="131" class="CToWUd a6T" tabindex="0">

								<h1 style="font-weight:400;font-size:26px;color:#cea45a;margin:13px 0">Open new opportunities for passive income</h1>
							</td>
						</tr>
						<tr>
							<td style="background-color:#e2f3fd;padding:22px 20px 28px;font:400 17px/1.3 Roboto,'Open sans',sans-serif;color:#000;text-align:center;border-bottom:3px solid #f8f8f8" colspan="2">
								<h2 style="font-weight:400;font-size:33px;margin:0 0 16px;color:#cea45a;">Dear sir/madam,</h2>
								<p style="color:#070915;">For 13 years of currency trading we have created “self-made” trading strategies which allow us to make money. We are 2 Master Traders who have formed 2 types of portfolio: a dynamic and a balanced one. We offer mutually beneficial cooperation. You have the opportunity to receive passive income using our knowledge and experience while we receive additional incom from the performance-related fee. Become Investor, open managed account and take control of your financial future.</p>
								<p>
									<a style="color:#070915;text-decoration:none;background:#cea45a;font-size:26px;line-height:44px;padding:0 25px;border-radius:27px;display:inline-block" href="https://www.copytradingforex.com/master-traders.html" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.copytradingforex.com/master-traders.html">Check who we are</a>
								</p>
							</td>
						</tr>
						<tr>
							<td style="background-color:#f5f6f7;padding:22px 20px 10px;font:400 17px/1.3 Roboto,'Open sans',sans-serif;color:#000;text-align:center;border-bottom:3px solid #f8f8f8" colspan="2">
								<p style="color:#070915;">CopyTradingForex.com builds an absolutely transparent and honest relationship with its Investors. We have opened access to the Portfolio Statement and Positions Report. Now everyone can be sure we provide "Real Trade. True results".</p>								
							</td>
						</tr>
						<tr>
							<td style="background-color:#f5f6f7;padding:0 20px;font:400 11px/1.43 Roboto,'Open sans',sans-serif;text-align:center"  colspan="2">
								<p style="color:#070915;display: inline-block;width: 45%;margin: 0 5px;">Annualized performance for all Balanced Portfolio investor accounts of CopyTradingForex.com during the period of April 2018 until now</p>
								<p style="color:#070915;display: inline-block;width: 45%;margin: 0 5px;">Annualized performance for all Dynamic Portfolio investor accounts of CopyTradingForex.com during the period of January 2019 until now</p>							
							</td>
							<!-- <td style="background-color:#f5f6f7;padding:0 20px;font:400 11px/1.43 Roboto,'Open sans',sans-serif;text-align:center">
																
							</td> -->
						</tr>
						<tr>
							<td style="background-color:#f5f6f7;padding:5px 20px 28px;font:400 12px/1.3 Roboto,'Open sans',sans-serif;color:#000;text-align:center;border-bottom:3px solid #f8f8f8" colspan="2">
								<img style="display:block; margin:0 auto;" src="https://www.copytradingforex.com/letter/charts_letter.jpg" alt="Screen" width="500" height="200" class="CToWUd a6T" tabindex="0">
								<p style="color:#070915;">The historic data is no guarantee or promise for future performance. The above-mentioned performance results are net results.</p>	
								<p>	
									<a style="color:#070915;text-decoration:none;background:#cea45a;font-size:22px;line-height:44px;padding:0 22px;margin: 0 10px;border-radius:27px;display:inline-block" href="https://www.copytradingforex.com/portfolio.html#portfolio_description" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.copytradingforex.com/portfolio.html#portfolio_description">Balanced Portfolio</a>
									<a style="color:#070915;text-decoration:none;background:#cea45a;font-size:22px;line-height:44px;padding:0 22px;margin: 0 10px;border-radius:27px;display:inline-block" href="https://www.copytradingforex.com/portfolio.html#portfolio_description" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.copytradingforex.com/portfolio.html#portfolio_description">Dynamic Portfolio</a>
								</p>
							</td>
						</tr>
						<tr>
							<td style="background-color:#e2f3fd;padding:22px 20px 28px;font:400 17px/1.3 Roboto,'Open sans',sans-serif;color:#000;text-align:center;border-bottom:3px solid #f8f8f8" colspan="2">
								<p style="color:#070915;">The Fund Management that we provide is implemented through percent allocation management module which allows Investors to have their accounts managed by a trader appointed by them on the basis of a limited trading power of attorney. This technical solution allows the Master trader on one trading platform to manage simultaneously unlimited quantity of Investor managed accounts. Depending on the size of the deposit each Investor`s managed account has its own ratio in all pool. Total sum of all ratios under one pool is always equal to 100%. Trader's activity results (trades, Profit & Loss) are allocated between Investor`s managed accounts according to ratio.</p>
								<p>
									<a style="color:#070915;text-decoration:none;background:#cea45a;font-size:26px;line-height:44px;padding:0 25px;border-radius:27px;display:inline-block" href="https://www.copytradingforex.com/start-now.html" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.copytradingforex.com/start-now.html">Start Now</a>
								</p>
							</td>
						</tr>
						<tr>
							<td style="background-color:#f5f6f7;padding:22px 20px 28px;font:400 14px/1.43 Roboto,'Open sans',sans-serif;color:#000;text-align:center;border-bottom:3px solid #f8f8f8; font-style: italic;" colspan="2">
								<p style="color:#070915;">The Stop Loss Level functionality provides Investors with control of risk of loss. Investors are given the possibility to block trader's activity beyond a certain drawdown level</p>
								<p style="text-align: center;">
									<span style="display: inline-block;width: 7px;height: 7px;border-radius: 50%;background-color:#cea45a;"></span>
									<span style="display: inline-block;width: 7px;height: 7px;border-radius: 50%;background-color:#cea45a;"></span>
									<span style="display: inline-block;width: 7px;height: 7px;border-radius: 50%;background-color:#cea45a;"></span>
								</p>
								<p>- equity protection</p>
							</td>
						</tr>
						<tr>
							<td style="background-color:#e2f3fd;padding:22px 20px 28px;font:400 22px/1.43 Roboto,'Open sans',sans-serif;color:#000;text-align:center;border-bottom:3px solid #f8f8f8" colspan="2">
								<p style="color:#cea45a; margin-bottom: 0;">For futher information please visit our website</p>
								<p style="margin-top: 0;">
									<a style="color:#070915;text-decoration:none;font-size:22px;line-height:44px;display:inline-block;" href="https://www.copytradingforex.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.copytradingforex.com/">www.copytradingforex.com</a>
								</p>
								<p style="color:#cea45a;">In meantime, in case of any question, do not hesitate to contact us.</p>
							</td>
						</tr>
						<tr>
							<td style="background-color:#f5f6f7;padding:22px 20px 28px;border-bottom:3px solid #f8f8f8;">
								<img style="display:block; margin:0 auto;" src="https://www.copytradingforex.com/letter/follow_us_letter.jpg" alt="Contact_us" width="270" height="221" class="CToWUd a6T" tabindex="0">
							</td>
							<td style="background-color:#f5f6f7;padding:22px 20px 28px;border-bottom:3px solid #f8f8f8;">
								<p style="color:#070915;font:400 16px/1.43 Roboto,'Open sans',sans-serif;font-style: italic;text-decoration: underline;">Follow us:</p>
								<p>
									<a style="color:#070915;text-decoration:none;font-size:22px;line-height:44px;display:block;margin:0 auto;" href="https://www.facebook.com/CopyTradingForexcom/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/CopyTradingForexcom/">
										<img style="display:block; margin:0 auto;" src="https://www.copytradingforex.com/letter/facebook_letter.jpg" alt="Telegram_chanel" width="120" height="28" class="CToWUd a6T" tabindex="0">
									</a>
								</p>
								<p>
									<a style="color:#070915;text-decoration:none;font-size:22px;line-height:44px;display:block;" href="https://www.instagram.com/unique_copy_trading_forex/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/unique_copy_trading_forex/">
										<img style="display:block; margin:0 auto;" src="https://www.copytradingforex.com/letter/instagram_letter.jpg" alt="Telegram_chanel" width="140" height="32" class="CToWUd a6T" tabindex="0">
									</a>
								</p>
								<p>
									<a style="color:#070915;text-decoration:none;font-size:22px;line-height:44px;display:block;" href="https://www.youtube.com/channel/UCoxLJbMote284Owk_kcHuBQ" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/channel/UCoxLJbMote284Owk_kcHuBQ">
										<img style="display:block; margin:0 auto;" src="https://www.copytradingforex.com/letter/youtube_letter.jpg" alt="Telegram_chanel" width="140" height="32" class="CToWUd a6T" tabindex="0">
									</a>
								</p>
								<p>
									<a style="color:#070915;text-decoration:none;font-size:22px;line-height:44px;display:block;" href="https://t.me/CopyTradingForex" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://t.me/CopyTradingForex">
										<img style="display:block; margin:0 auto;" src="https://www.copytradingforex.com/letter/telegram_letter.jpg" alt="Telegram_chanel" width="140" height="32" class="CToWUd a6T" tabindex="0">
									</a>
								</p>
							</td>
						</tr>
					</tbody>
				</table>

				<table style="background:#070915; margin: 0 auto;" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#070915">
					<tbody>
						<tr>
							<td style="background:#070915;padding:15px 15px;text-align:center" colspan="2" valign="top">
								<p style="color:#cea45a;font:400 11px/1.2 Roboto,'Open sans',sans-serif;">Risk Warning: The Investor confirms being aware of the speculative nature and the high risks associated with margin trading, mechanisms, characteristics and high degree of volatility of the currency and derivatives market.  The Investor understands and agrees that  margin trading might result in tota loss of funds deposited as a margin  and that consequently, only “risk” funds should be used in such trading. Anyone who does not have the extra capital that may be subject to a total loss should not trade on margin. No “safe” trading system has ever been devised, and no one can guarantee profits or freedom from loss. The Investor hereby certifies to have understood any and all risks related to the present managed account service at copytradingforex.com. Without any exceptions Master Traders assume no obligations with regard to any guarantee or promise of future profitable performance.</p>
							</td>
						</tr>
					</tbody>
				</table>

			</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>