 <!DOCTYPE html>
 <html lang="en">
 	<head>
 		<!-- META -->
 		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, inicial-scale=1.0">
 		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->

 		<!-- FAVICON -->
 		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

 		<!-- SEO -->
 		<meta name="Description" content="Our professional master traders, developed their own trading strategies with many years of forex trading experience">
 		<meta name="Rating" content="">    
 		<meta name="Author" content="">
 		<meta name="Robots" content="index,follow">

 		<!-- CONFIG -->
 		<meta name="format-detection" content="telephone=no">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">

 		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134605534-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-134605534-1');
		</script>

 		<!-- Стили -->
 		<link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
 		<link rel="stylesheet" href="libs/slick/slick.css">
 		<link rel="stylesheet" href="css/master-traders.min.css">

 		<title>Master Traders of CopyTradingForex</title>
 	</head>

 	<body>
 		<!-- [if lt IE 10]>
 			<p class="browsehappy">You're using <strong>OLD version of Internet Explorer</strong>. Please, <a href="http://browsehappy.com/>update your browser</a> to see more opportunities in browser!</p>
 		<![endif]-->

 		<!-- Preloader -->
 		<div class="preloader"></div>
 		<div class="app">

 			<!-- rightside navigation fixed --> 			
			<nav class="navbar navbar-expand-xl nav_aside">
				<a class="navbar-brand logo_mob" href="index.html"><img class="img-fluid" src="img/logo_small.png" alt="logo"></a>
				<a class="navbar-brand logo_desk" href="index.html"><img class="img-fluid" src="img/logo_mid.png" alt="logo"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>				
				<div class="collapse navbar-collapse" id="navbarNav">
					<div class="navbar-nav">
						<a class="nav-item nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link" href="portfolio.html">Portfolio</a>
						<a class="nav-item nav-link" href="start-now.html">Start now</a>
						<a class="nav-item nav-link" href="how-it-works.html">How it works</a>
						<a class="nav-item active nav-link" href="master-traders.html">Master traders</a>
						<a class="nav-item nav-link" href="contacts.html">Contacts</a>
					</div>
				</div>
			</nav>	
			
			<!-- header -->
			<header class="header wr-mr250">
				<h1 class="page_title">MASTER TRADERS</h1>
			</header>

			<!-- section masters -->
			<section class="wr-masters wr-mr250">
 				<div class="container">
 					<div class="row">
 						<!-- first master row -->
 						<div class="col-8 offset-2 col-md-4 offset-md-0">
 							<div class="master_name">
 								<h2 class="master_name_title">Aleksandar Peychev</h2>
 								<img class="img-fluid" src="img/Aleksandar_Peychev.jpg" alt="Aleksandar Peychev">
 							</div>
 						</div>
 						<div class="col-md-8">
 							<div class="masters_testimonials testimonials_carousel jsTestimonials">
								<div class="item">
									<p>
										Who knows how, he trades on forex; who does not know how - teaches others
									</p>
									<div class="dots">
										<span></span><span></span><span></span>
									</div>
								</div>
								<div class="item">
									<p>
										Forex trading gave me the opportunity to watch my son grow 24/7
									</p>
									<div class="dots">
										<span></span><span></span><span></span>
									</div>
								</div>
								<div class="item">
									<p>
										Statistics about 3% -5% successful forex is real true
									</p>
									<div class="dots">
										<span></span><span></span><span></span>
									</div>
								</div>
								<div class="item">
									<p>
										Forex is a lifetime marathon. Tested since 2007
									</p>
									<div class="dots">
										<span></span><span></span><span></span>
									</div>
								</div>
								<div class="item">
									<p>
										I can speak English, Ukrainian, Russian, Bulgarian, but my native is Money language
									</p>
									<div class="dots">
										<span></span><span></span><span></span>
									</div>
								</div>
							</div>
							<div class="master_text">
								<table class="master_table o-sans non_text_indent">
									<tr>
										<th>2007</th>
										<td>
											<b>Ukraine, Kyiv City - forex broker "Teletrade - Ukraine" - business trader</b><br>
											The main task is to work with clients-investors of the company to restore their forex accounts after unsuccessful trading of their own.
										</td>
									</tr>
									<tr>
										<th>2008 - 2014</th>
										<td>
											<b>Bulgaria, Sofia City - forex broker "Teletrade - Bulgaria" - CEO</b><br>
											Development of the Teletrade brand on the territory of Bulgaria: recruitment and training of personnel for working with clients; searching, training and mentoring of forex traders; development of the company's branch network in other cities of the country.<br>
											Opening of the Teletrade DJ International Sofia Brunch for online presence in the country.<br>
											Development of full-fledged training courses on trading on the forex market: for beginners, advance and professional traders<br>
											Development of a system of seminars on research and trading in real time at the forex market
										</td>
									</tr>
									<tr>
										<th>2007 - 2016</th>
										<td>
											Intensive and continuous forex trading, developing our own profitable strategies, empirical research and detailed analysis of the forex market
										</td>
									</tr>
									<tr>
										<th>2016</th>
										<td>Initiating a project "CopyTradingForex.com" - opening trading account for Dynamic portfolio</td>
									</tr>
									<tr>
										<th>2018</th>
										<td>Opening trading account for Balanced portfolio</td>
									</tr>
									<tr>
										<th>2019</th>
										<td>Starting of website CopyTradingForex.com</td>
									</tr>
								</table>
							</div>
 						</div>

 						<!-- second master row -->
 						<div class="order-2 col-md-8 order-md-1">
 							<div class="masters_testimonials testimonials_carousel jsTestimonials_2">
								<div class="item">
									<p>
										With Forex trading I can earn more money than the men
									</p>
									<div class="dots">
										<span></span><span></span><span></span>
									</div>
								</div>
								<div class="item">
									<p>
										Money speak only one language "If you save me, I'll save you tomorow."
									</p>
									<div class="dots">
										<span></span><span></span><span></span>
									</div>
								</div>
								<div class="item">
									<p>
										To get rich, you have to be making money while you're asleep
									</p>
									<div class="dots">
										<span></span><span></span><span></span>
									</div>
								</div>
								<div class="item">
									<p>
										People  often say: " I never see you at the club" I reply: "I never see you at the bank"
									</p>
									<div class="dots">
										<span></span><span></span><span></span>
									</div>
								</div>
							</div>
							<div class="master_text">
								<div class="master_table">
									<p class="o-sans">
										Desislava Kostova is a highly regarded trader and coach with over 9 years experience in the financial markets.
									</p>
									<p class="o-sans">
										Her career as a professional forex trading consultant began in 2010 when she started working for an international consulting company - Teletrade (branch in Bulgaria). Her work consisted in conducting seminars and personal training for investors. She had only one goal - to make a good trader out of everyone of her students. For this purpose, she developed her own successful trading strategies.
									</p>
									<p class="o-sans">
										In 2012, she reached the peak in her career as CEO of representative office of an international investment broker - TeleTrade DJ International Consulting Limited. Desislava built a forex specialists team, thanks to which the company had grown and started to work with customers from all over Europe. 
									</p>
									<p class="o-sans">
										Five years later, in 2017, she became a mother. This changed her life completely and she decided to leave everything and deal only with Forex trading. Desislava built a successful business plan for trading, so in 2018 a Balanced portfolio appeared and she became a Master trader.
									</p>
									<p class="o-sans">
										In 2019 she started the website CopyTradingForex.com because she knows ”We can do more if we work together”.
									</p>
								</div>
							</div>
 						</div>
 						<div class="col-8 offset-2 order-1 col-md-4 offset-md-0 order-md-2">
 							<div class="master_name">
 								<h2 class="master_name_title">Desislava Kostova</h2>
 								<img class="img-fluid" src="img/Desislava_Kostova.jpg" alt="Desislava Kostova">
 							</div>
 						</div>

 					</div>
 				</div>
 			</section>

 			<!-- section master portfolio -->
			<section class="wr-master_portfolio wr-mr250">
 				<div class="container">
 					<div class="row">
 						<div class="col-6 offset-3 col-sm-4 offset-sm-4 col-md-3 offset-md-0">
 							<img class="master_portfolio_logo img-fluid" src="img/logo.png" alt="CopyTradingForex">
 						</div>
 						<div class="col-sm-10 offset-sm-1 col-md-6 offset-md-0">
 							<div class="master_portfolio">
 								<div class="master_portfolio_head">
 									<p>PORTFOLIO TYPES</p>
 								</div>
 								<div class="master_portfolio_sliders">
 									<div class="master_slider jsMasterSlider">
										<div class="master_slider_item">
											<img class="img-fluid" src="img/svg/case.svg" alt="">
											<p>Dynamic Portfolio</p>
										</div>
										<div class="master_slider_item">
											<img class="img-fluid" src="img/master_man.png" alt="">
											<p>Aleksandar</p>
										</div>
									</div>
									<div class="master_slider jsMasterSlider">
										<div class="master_slider_item">
											<img class="img-fluid" src="img/svg/case.svg" alt="">
											<p>Balanced Portfolio</p>
										</div>
										<div class="master_slider_item">
											<img class="img-fluid" src="img/master_woman.png" alt="">
											<p>Desislava</p>
										</div>										
									</div>
 								</div>
 							</div>
 						</div>
 						<div class="col-sm-10 offset-sm-1 col-md-3 offset-md-0">
 							<p class="master_portfolio_desc">
 								We are self-made forex traders with a lot of experience and time-proven strategies. <br>
 								We trade in real money and provide true results.
 							</p>
 						</div>
 						<div class="col-md-12">
 							<a href="start-now.html" class="big_link">Choose your Master Trader and start to follow</a>
 							<p class="disclaimer">
								Risk Warning: The Investor confirms being aware of the speculative nature and the high risks associated with margin trading, mechanisms, characteristics and high degree of volatility of the currency and derivatives market. The Investor understands and agrees that margin trading might result in total loss of funds deposited as a margin and that consequently, only “risk” funds should be used in such trading. Anyone who does not have the extra capital that may be subject to a total loss should not trade on margin. No “safe” trading system has ever been devised, and no one can guarantee profits or freedom from loss. The Investor hereby certifies to have understood any and all risks related to the present managed account service at copytradingforex.com. Without any exceptions Master Traders assume no obligations with regard to any guarantee or promise of future profitable performance.
							</p>
 						</div>
 					</div>
 				</div>
 			</section>			

 			<section class="footer_navigation wr-mr250">
 				<div class="container">
 					<div class="row">
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>About us</h4>
 								<ul>
 									<li><a href="index.html#why_ctf">Why copytradingforex.com?</a></li>
 									<li><a href="index.html#perfomance_results">Our performance results</a></li>
 									<li><a href="master-traders.html">Master Traders</a></li>
 								</ul>
 							</nav>
 						</div>
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>Our Service</h4>
 								<ul>
 									<li><a href="portfolio.html#portfolio_description">Dynamic Portfolio</a></li>
 									<li><a href="portfolio.html#portfolio_description">Balanced Portfolio</a></li>
 									<li><a href="https://www.dukascopy.com/swiss/english/forex/FX-Interbank-Account/?headerBar&ibref=13893" target="blank">Open Managed Account</a></li>
 									<li class="md_hidden"><a href="dynamic-portfolio-statement.html" target="blank">Dynamic Portfolio Statement</a></li>
 									<li class="md_hidden"><a href="balanced-portfolio-statement.html" target="blank">Balanced Portfolio Statement</a></li>
 								</ul>
 							</nav>
 						</div>
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>For Investors</h4>
 								<ul>
 									<li><a href="how-it-works.html#what_ctf">What is Fund Management?</a></li>
 									<li><a href="how-it-works.html#allocation">Example of trade allocation</a></li>
 									<li><a href="start-now.html">How to start?</a></li>
 									<li><a href="start-now.html#step2">Equity Stop Loss Level function</a></li>
 									<li><a href="how-it-works.html#remuner">Remuneration</a></li>
 									<!-- <li><a href="contacts.html#testimons">Testimonials</a></li> -->
 								</ul>
 							</nav>
 						</div>
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>Contact us</h4>
 								<ul>
 									<li><a class="footer_email__link" href="mailto:contact@copytradingforex.com">contact@copytradingforex.com</a></li>
 									<li><a href="https://www.facebook.com/CopyTradingForexcom" target="blank">facebook</a></li>
 									<li><a href="https://www.youtube.com/channel/UCoxLJbMote284Owk_kcHuBQ" target="blank">youtube</a></li>
 									<li><a href="https://www.instagram.com/unique_copy_trading_forex/" target="blank">instagram</a></li>
 									<li><a href="https://t.me/CopyTradingForex" target="blank">telegram channel</a></li>
 								</ul>
 							</nav>
 						</div>
 					</div>
 				</div>
 			</section>

 			<footer class="footer wr-mr250">
	 			<small>© 2020 WebKnight-developer. All Rights Reserved.</small>
	 		</footer>

 		</div>

 		<!-- Plagins -->
 		<div class="popup"></div>

 		<!-- JS -->
 		<script src="libs/jquery/jquery-1.12.4.min.js"></script>
 		<script src="libs/bootstrap/bootstrap.min.js"></script>
 		<script src="libs/slick/slick.min.js"></script>
 		
		<!--Start of Tawk.to Script-->
		<script type="text/javascript">
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/5c2d32e582491369baa03ed3/default';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
		})();
		</script>
		<!--End of Tawk.to Script-->

 		<script src="js/master-traders.js"></script>

 	</body>
 </html>
 