 <!DOCTYPE html>
 <html lang="en">
 	<head>
 		<!-- META -->
 		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, inicial-scale=1.0">
 		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

 		<!-- FAVICON -->
 		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

 		<!-- SEO -->
 		<meta name="Description" content="It is easy to start earning with copytradingforex, 3 easy steps to become copy investor. Benefits from using copy tradong forex.">
 		<meta name='keywords' content="managed account">
 		<meta name="Rating" content="">    
 		<meta name="Author" content="">
 		<meta name="Robots" content="index,follow">

 		<!-- CONFIG -->
 		<meta name="format-detection" content="telephone=no">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">

 		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134605534-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-134605534-1');
		</script>


 		<!-- Стили -->
 		<link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
 		<link rel="stylesheet" href="libs/jquery_fancybox/jquery.fancybox.min.css">
 		<link rel="stylesheet" href="css/start-copy.min.css">

 		<title>Start Now with CopyTradingForex</title>
 	</head>

 	<body>
 		<!-- [if lt IE 10]>
 			<p class="browsehappy">You're using <strong>OLD version of Internet Explorer</strong>. Please, <a href="http://browsehappy.com/>update your browser</a> to see more opportunities in browser!</p>
 		<![endif]-->

 		<!-- Preloader -->
 		<div class="preloader"></div>

 		<div class="app">

 			<!-- rightside navigation fixed -->
 			
			<nav class="navbar navbar-expand-xl nav_aside">
				<a class="navbar-brand logo_mob" href="index.html"><img class="img-fluid" src="img/logo_small.png" alt="logo"></a>
				<a class="navbar-brand logo_desk" href="index.html"><img class="img-fluid" src="img/logo_mid.png" alt="logo"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarNav">
					<div class="navbar-nav">
						<a class="nav-item nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link" href="portfolio.html">Portfolio</a>
						<a class="nav-item active nav-link" href="start-now.html">Start now</a>
						<a class="nav-item nav-link" href="how-it-works.html">How it works</a>
						<a class="nav-item nav-link" href="master-traders.html">Master traders</a>
						<a class="nav-item nav-link" href="contacts.html">Contacts</a>
					</div>
				</div>
			</nav>	
			
			<!-- header -->
			<header class="header wr-mr250">
				<p class="page_title">START NOW</p>
			</header>

			<!-- section with steps -->
			<section class="wr-steps wr-mr250">
 				<div class="container">
 					<div class="row">
 						<div class="col-md-12">
 							<h1 class="steps_head">
 								3 easy steps to become Investor
 							</h1>
 						</div>

 						<!-- STEP 1 -->
 						<div class="col-md-12">
 							<div class="step_block">
	 							<div class="step_num_pic">
	 								<p class="step_number">
		 								<b>1</b>
		 								step
		 							</p>
		 							<div class="img_wraper">
		 								<img class="step_pic img-fluid" src="img/step_1.jpg" alt="step 1">
		 							</div>
	 							</div> 							
	 							
	 							
	 							<div class="copy_step">
	 								<h3 class="copy_step_title">OPEN MANAGED ACCOUNT</h3>
	 								<p class="copy_step_maindesc o-sans non_text_indent">
	 									The Fund Management that we provide is implemented through percent allocation management module.
	 								</p>
	 								<p class="copy_step_desc o-sans non_text_indent">
	 									<b class="important">Important!!!</b> Pay attention to 3 important aspects:
	 								</p>
	 								<ol class="copy_step_list o-sans non_text_indent">
	 									<li>You should open a special 
	 										<a class="copy_step_link jsFancybox" href="img/managed_account.png">Managed Forex Trading Account</a>.
	 									</li>
	 									<li>Minimum investment amount is $1000</li>
	 									<li>During the opening of the account you will need to specify the 
	 										<a class="copy_step_link jsFancybox" href="img/CODE.jpg">CODE</a>
	 										  and 
	 										<a class="copy_step_link jsFancybox" href="img/name.jpg">the name of a Master Trader</a>
	 										 (who will trade?) <br>
	 									This data depends on the 
	 									<a class="copy_step_link" target="blank" href="portfolio.html">type of Portfolio (Dynamic or Balanced)</a>
	 									 you selected. You can find them in the table bellow.</li>
	 								</ol>
	 								<label for="che_t1" class="label_table btn_dblue">TABLE</label>
	 								<a class="btn_gold btn_gold_inline" target="blank" href="https://www.dukascopy.com/swiss/english/forex/FX-Interbank-Account/?headerBar&ibref=13893">OPEN MANAGED ACCOUNT</a>
	 								<input id="che_t1" type="checkbox">
	 								<table class="step_table step_table_1 o-sans non_text_indent">
	 									<tr>
	 										<th>Type of Portfolio</th>
	 										<th>CODE</th>
	 										<th>Name</th>
	 									</tr>
	 									<tr>
	 										<td class="td_gold">Dynamic</td>
	 										<td class="td_code">67j56h</td>
	 										<td>Aleksandar Peychev</td>
	 									</tr>
	 									<tr>
	 										<td class="td_gold">Balnaced</td>
	 										<td class="td_code">45GHMN</td>
	 										<td>Desislava Kostova</td>
	 									</tr>
	 								</table> 								
	 							</div>
	 						</div>
 						</div>

 						<!-- STEP 2 -->
 						<div class="col-md-12">
 							<div class="step_block step_2_block">
 								<div id="step2" class="copy_step">
	 								<h3 class="copy_step_title">SETTINGS</h3>
	 								<p class="copy_step_maindesc o-sans non_text_indent">
	 									To protect your funds please use 'Equity Stop Loss Level' function.
	 								</p>
	 								<p class="copy_step_desc o-sans non_text_indent">
	 									All open positions will be closed and trading blocked if equity on your account is equal or less than 'Stop Loss Level'. Please be informed that equity on your account after closing of all open positions might be below 'Equity Stop Loss Level' depending on market conditions. Everyone makes his own desicion on what Equity Stop loss Level to apply. We recommend the Equity Stop Loss Level to be set to the next number:
	 								</p> 								
	 								<label for="che_t2" class="label_table btn_dblue">TABLE</label>
	 								<input id="che_t2" type="checkbox">
	 								<table class="step_table step_table_2 o-sans non_text_indent">
	 									<tr>
	 										<th rowspan="2">Type of Portfolio</th>
	 										<th colspan="2">Equity Stop Loss Level, %</th>
	 										<th rowspan="2">Example</th>
	 									</tr>
	 									<tr>
	 										<th>Min</th>
	 										<th>Max</th>
	 									</tr>
	 									<tr>
	 										<td class="td_gold">Dynamic</td>
	 										<td>20</td>
	 										<td>25</td>
	 										<td rowspan="2"><a class="jsFancybox" href="img/click_for_calculation.jpg">Click for calculation</a></td>
	 									</tr>
	 									<tr>
	 										<td class="td_gold">Balnaced</td>
	 										<td>25</td>
	 										<td>30</td>
	 									</tr>
	 								</table> 								
	 							</div>
	 							<div class="step_num_pic step_2_num_pic">
	 								<div class="img_wraper img_wraper_step_2">
		 								<img class="step_pic img-fluid" src="img/step_2.jpg" alt="step 2">
		 							</div>
	 								<p class="step_number">
		 								<b>2</b>
		 								step
		 							</p>	 							
	 							</div> 
 							</div> 								
 						</div>

 						<!-- STEP 3 -->
 						<div class="col-md-12">
 							<div class="step_block">
	 							<div class="step_num_pic">
	 								<p class="step_number">
		 								<b>3</b>
		 								step
		 							</p>
		 							<div class="img_wraper">
		 								<img class="step_pic img-fluid" src="img/step_3.jpg" alt="step 3">
		 							</div>
	 							</div>
	 							<div class="copy_step">
	 								<h3 class="copy_step_title">ACTIVATION AND CONFIRMATION</h3>
	 								<p class="copy_step_maindesc o-sans non_text_indent">
	 									If you have already opened and funded your Managed account, as well as have set Equity Stop Loss Level, the next step is to join your account to the Master Trader's account.
	 								</p>
	 								<p class="copy_step_desc o-sans non_text_indent">
	 									The initial status account is <a class="copy_step_link jsFancybox" href="img/pending.jpg">"Pending"</a>. Pressing the <a class="copy_step_link jsFancybox" href="img/pending.jpg">"Activate"</a> button will confirm your consent to enable copy trading activities on your Investor Managed account. Once accepted by the Master trader, trading will be enabled.
	 								</p>
	 								<p class="copy_step_desc o-sans non_text_indent">
	 									Your activation request will be processed in the next 24 hours. <a class="copy_step_link jsFancybox" href="img/quick_starting.jpg">For a quick start</a> on copy trading and joining the Master account, please send information with your name, account number and conformation to: <a class="copy_step_link" href="mailto:registration@copytradingforex.com">registration@copytradingforex.com</a>
	 								</p>						
	 							</div>
	 						</div>
 						</div>
 					</div>
 				</div>
 			</section>

 			<!-- section benefits -->
 			<section class="wr-benefits wr-mr250">
 				<div class="container">
 					<div class="row">
 						<div class="col-md-12">
							<h2 class="benefits_head">Who benefits from using CopyTradingForex.com?</h2>
 						</div>
 						<div class="col-sm-8 offset-sm-2 col-md-4 offset-md-0">
 							<div class="benefit_item benefit_item_1 h100">
 								<img class="img-fluid" src="img/benefits_1.png" alt="benefit">
 								<!-- <i class="icon icon_benefit_1"></i> -->
 								<h4 class="benefit_item_title">Busy people</h4>
 								<p class="o-sans non_text_indent">
 									This type of trading is becoming increasingly more popular due to the fact that it allows busy persons to make money on the market. In fact, there are many people who create the so-called “people-based” portfolios. This means that instead of investing in stocks or forex, they invest in other investors and do not perform trades themselves.
 								</p>
 							</div>
 						</div>
 						<div class="col-sm-6 col-md-4">
 							<div class="benefit_item benefit_item_2 h100">
 								<img class="img-fluid" src="img/benefits_2.png" alt="benefit">
 								<!-- <i class="icon icon_benefit_2"></i> -->
 								<h4 class="benefit_item_title">Beginner traders</h4>
 								<p class="o-sans non_text_indent">
 									Fund management is great for new traders. It allows you to venture into the scary world of finances and potentially make some profits.
 								</p>
 							</div>
 						</div>
 						<div class="col-sm-6 col-md-4">
 							<div class="benefit_item benefit_item_3 h100">
 								<img class="img-fluid" src="img/benefits_3.png" alt="benefit">
 								<!-- <i class="icon icon_benefit_3"></i> -->
 								<h4 class="benefit_item_title">Advanced traders</h4>
 								<p class="o-sans non_text_indent">
 									You can see what decisions they make and see the statistics they see. You can try to understand what they saw that made them take the course of action they did, and learn from that.
 								</p>
 							</div>
 						</div>
 						<div class="col-md-12">
							<a href="https://www.dukascopy.com/swiss/english/forex/FX-Interbank-Account/?headerBar&ibref=13893" target="blank" class="big_link" onclick="ga('send', 'event', 'linkDukascopy', 'click')">Start smart invest now!</a>
							<p class="disclaimer">
								Risk Warning: The Investor confirms being aware of the speculative nature and the high risks associated with margin trading, mechanisms, characteristics and high degree of volatility of the currency and derivatives market. The Investor understands and agrees that margin trading might result in total loss of funds deposited as a margin and that consequently, only “risk” funds should be used in such trading. Anyone who does not have the extra capital that may be subject to a total loss should not trade on margin. No “safe” trading system has ever been devised, and no one can guarantee profits or freedom from loss. The Investor hereby certifies to have understood any and all risks related to the present managed account service at copytradingforex.com. Without any exceptions Master Traders assume no obligations with regard to any guarantee or promise of future profitable performance.
							</p>		
						</div>
 					</div>
 				</div>
 			</section>
 						
 			<section class="footer_navigation wr-mr250">
 				<div class="container">
 					<div class="row">
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>About us</h4>
 								<ul>
 									<li><a href="index.html#why_ctf">Why copytradingforex.com?</a></li>
 									<li><a href="index.html#perfomance_results">Our performance results</a></li>
 									<li><a href="master-traders.html">Master Traders</a></li>
 								</ul>
 							</nav>
 						</div>
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>Our Service</h4>
 								<ul>
 									<li><a href="portfolio.html#portfolio_description">Dynamic Portfolio</a></li>
 									<li><a href="portfolio.html#portfolio_description">Balanced Portfolio</a></li>
 									<li><a href="https://www.dukascopy.com/swiss/english/forex/FX-Interbank-Account/?headerBar&ibref=13893" target="blank">Open Managed Account</a></li>
 									<li class="md_hidden"><a href="dynamic-portfolio-statement.html" target="blank">Dynamic Portfolio Statement</a></li>
 									<li class="md_hidden"><a href="balanced-portfolio-statement.html" target="blank">Balanced Portfolio Statement</a></li>
 								</ul>
 							</nav>
 						</div>
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>For Investors</h4>
 								<ul>
 									<li><a href="how-it-works.html#what_ctf">What is Fund Management?</a></li>
 									<li><a href="how-it-works.html#allocation">Example of trade allocation</a></li>
 									<li><a href="start-now.html">How to start?</a></li>
 									<li><a href="start-now.html#step2">Equity Stop Loss Level function</a></li>
 									<li><a href="how-it-works.html#remuner">Remuneration</a></li>
 									<!-- <li><a href="contacts.html#testimons">Testimonials</a></li> -->
 								</ul>
 							</nav>
 						</div>
 						<div class="col-sm-6 col-md-3">
 							<nav class="footer_nav">
 								<h4>Contact us</h4>
 								<ul>
 									<li><a class="footer_email__link" href="mailto:contact@copytradingforex.com">contact@copytradingforex.com</a></li>
 									<li><a href="https://www.facebook.com/CopyTradingForexcom" target="blank">facebook</a></li>
 									<li><a href="https://www.youtube.com/channel/UCoxLJbMote284Owk_kcHuBQ" target="blank">youtube</a></li>
 									<li><a href="https://www.instagram.com/unique_copy_trading_forex/" target="blank">instagram</a></li>
 									<li><a href="https://t.me/CopyTradingForex" target="blank">telegram channel</a></li>
 								</ul>
 							</nav>
 						</div>
 					</div>
 				</div>
 			</section>

 			<footer class="footer wr-mr250">
	 			<small>© 2020 WebKnight-developer. All Rights Reserved.</small>
	 		</footer>

 		</div> 		

 		<!-- Plagins -->
 		<div class="popup"></div>
 		
 		<!-- JS -->
 		<script src="libs/jquery/jquery-1.12.4.min.js"></script>
 		<script src="libs/bootstrap/bootstrap.min.js"></script>
 		<script src="libs/slick/slick.min.js"></script>
 		<script src="libs/jquery_fancybox/jquery.fancybox.min.js"></script>
 		
		<!--Start of Tawk.to Script-->
		<script>
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/5c2d32e582491369baa03ed3/default';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
		})();
		</script>
		<!--End of Tawk.to Script-->

 		<script src="js/start-copy.js"></script>

 	</body>
 </html>
 